[2013-03-07 12:01] saveriocastellano opened #4 "persisting v8 object with apc_store"
Hello,

I'd need to persist the v8 object so that I do not need to instantiate
and process the javascript scripts from PHP during every http request. Is that
possible?

I have tried using apc_store to store in memory the v8 object but when I fetch
it from the cache then when I try to use it I get:

PHP Fatal error:  V8 not initialized in

[2013-03-20 14:30] beest opened #6 "Seg fault when using an object returned directly via a method"
The following code sample is the minimum required to reproduce the problem. As you can see, the problem occurs via __get and via an existing method.

I'm testing with PHP-5.3.10 and libv8.so version 3.17.13.

[code]

The seg fault happens during the zend_get_class_entry (via Z_OBJCE_P) call in the php_v8js_php_callback function (line 46 in v8js_convert.cc).

I have limited knowledge of Zend intern

[2013-03-26 18:22] andrewtch opened #7 "Memory / time limit"
Hi,

I'm planning to use your library for triggers / data processing, and it would be nice to have time limiting (and probably memory limiting, which is not that important).

This can be passed to executeString as an array of options after $flags parameter. Also, I can try to pullrequest if you can point where to change, but my C knowledge is not that good )

[2013-05-07 12:40] stutteringp0et opened #8 "Simulate/Emulate DOM?"
I'm trying to set up a server-side LESS compiler using V8Js, but I can't load less.js because it initially attempts to interact with the DOM.

Once less.js is initialized, I can easily compile less using its built-in functions - but getting past that initialization process isn't possible without a DOM for less to interact with.

I found jsdom, but I'm at a loss to figure out how to load it in the

[2013-05-15 00:04] ghost opened #10 "Error - Memory Limit / Time limit"
Hello,

My name is Fernando and I installed the extension v8js in my PHP  5.3.10-1ubuntu3.6
But when i try to set the memory limit e time limit it doesn't work.
I'm using the following scripts that i found in the repository at github for test:

v8js / tests / memory_limit.phpt

v8js / tests / time_limit.phpt

This is the link of my phpinfo: http://198.199.111.114/teste03.php

For Example:

<?php
$

[2013-05-17 15:26] #7 closed, assigned to beest

[2013-05-17 15:27] #6 closed, assigned to nobody

[2013-05-17 15:27] #8 closed, assigned to beest

[2013-05-17 15:39] #4 closed, assigned to ohohoreilly

[2013-06-06 21:29] stesie opened #12 "v8js fails to build with libv8 version 3.8.9.20"
Hi there,

v8js fails to build from source with libv8 version 3.8.9.20, as currently packaged in Debian Wheezy.  However the README file states it requires at least 3.2.4

Here is how the build fails ...

[code]

... which seems to be caused by commit 8d8c671aa07f488d0590043f1395ba8c8fac53ba, which passes `v8::Isolate` to `v8::HandleScope::HandleScope`

From v8's ChangeLog:

[code]

... hence I as

[2013-06-07 07:06] stesie opened #13 "v8js leaks memory if objects are returned to javascript"
Hi there,

if I call a PHP function from JavaScript context and the PHP function returns a object, the object seems not to be correctly garbage collected even if the passed back object is not stored at all.

Code snippet to reproduce:

[code]

... after running for some twenty seconds the memory consumption hits roughly 1,5 GB, then the loop performs very poorly and v8 garbage collects on almost e

[2013-06-10 14:53] stesie opened #15 "Segfault on object construction in JS (on PHP object)"
Hi again :-)

got another one, inspired by the function template thing ... the objects passed back to from PHP to JavaScript have a constructor attribute pointing to the constructor function (i.e. function template from before).  If you call that one in JavaScript you get fresh extra objects, ... however if you call back to PHP everything crashes since v8js relies on the internal fields, which are

[2013-06-12 16:26] #13 closed, assigned to nobody

[2013-07-02 14:08] andrewtch opened #19 "Not compiling, again )"
Hi all,
pulled latest v8 from github, installed, copied all headers and libs, make fails with the following output:

[code]

[2013-07-07 20:52] #19 closed, assigned to nobody

[2013-07-17 22:55] #15 closed, assigned to nobody

[2013-08-02 10:07] ravinGit opened #24 "Compiling v8js on windows"
Hi, I'm trying to compile v8js for my php on a windows platform, but so far failed. I don't much experience of compiling from source, can a guide be created for compiling V8js on windows?

[2013-09-02 20:03] upsala opened #25 "Properties from Objects missing"
As the following code shows there seems a few properties from the object missing. PHP returns '1'. V8 returns 'undefined'.

<?php

$script=<<<EOT
var elements=PHP.dom.getElementsByTagName('node');
print(elements.length, "\n");
EOT;

$dom=new DomDocument();
$dom->loadXML('<root><node/></root>');

$elements=$dom->getElementsByTagName('node');
echo $elements->length, "\n";

$v8=new V8Js();
$v8->dom=$

[2013-09-03 17:19] upsala opened #26 "Some functions doesn't work with default-parameters"
Some functions doesn't work with default parameters (see result.fetchArray())

[code]

[2013-09-04 22:44] O-n-y opened #27 "cc1plus: error: unrecognized command line option "-std=c++11""
I can't install v2js on OpenSuse 11.2, there is no way to update gcc to 4.6+ version, and the early ones do not support C++11.
Can you make a patch for install it with gcc < 4.6  (4.4.1 for example)?

Thanks!

[2013-09-06 21:43] tconnery opened #28 "How to parse html page and get env variables?"
I am trying to use php to retrieve a html page via curl

Is there a way to execute the whole html page & JS of the curl response via v8js so you can get access to the env variables? of the page?

[2013-09-28 06:35] cscott opened #29 "Release 0.1.5 to PECL"
It would be nice to have a released version with the time/memory limits!

[2013-09-28 07:57] #28 closed, assigned to nobody

[2013-09-28 07:59] #10 closed, assigned to nobody

[2013-09-28 20:09] #12 closed, assigned to nobody

[2013-09-30 18:04] cscott opened #32 "php_v8js_v8_has_property unimplemented."
Shouldn't be hard to write, but there's a `// Not implemented yet` comment in `v8js.cc`.

I ran into this while trying to use PHP's `property_exists` method on an object returned to PHP from JavaScript.

[2013-09-30 18:13] cscott opened #33 "Calling JS function from PHP?"
I'm using `v8->executeString` to evaluate some code like:

[code]

That's a pretty standard wrapper for a CommonJS-style module definition.  I get the `exports` object back in PHP land.  I'd like to then call various (JavaScript) methods from it.  But `$exports->hello()` gives me a V8 exception ("v8::HandleScope::CreateHandle() Cannot create a handle without a HandleScope"), and the other various

[2013-10-01 21:53] cscott opened #34 "V8Js fails if multiple instances are created using object-passing"
Issue #31 added a test case which demonstrates the problem, but it hasn't been fixed yet.

[2013-10-02 21:57] #34 closed, assigned to nobody

[2013-10-02 23:32] #33 closed, assigned to nobody

[2013-10-02 23:32] #29 closed, assigned to ohohoreilly

[2013-10-02 23:46] omarkilani opened #40 "README should indicate which version of v8 is required"
It would be great if the README stated which version of v8 was known working by the developers. I was trying with v8 3.22.5 with a bunch of errors.

[2013-10-02 23:52] rbro opened #41 "v8js compile errors"
I am new to v8js and trying it out today for the first time.  I'm running CentOS 6.4 64-bit with PHP 5.5.4.  I followed the instructions listed in README.md to compile the latest versions of both v8 and php-v8js, but when compiling php-v8js, I'm getting the below error.  I just pasted the first few errors, but a list of them occurs.  Can you please let me know what might be causing it?  Please als

[2013-10-03 01:53] rbro opened #42 "unregistering extensions"
Once an extension is loaded with registerExtension, is there a way to unregister an extension or overwrite it with new JS code?  I was able to do it by restarting apache, but is there another way that it can be done that doesn't require restarting apache?  Thanks for your help.

[2013-10-03 18:00] #40 closed, assigned to nobody

[2013-10-03 18:01] #41 closed, assigned to nobody

[2013-10-03 18:01] #27 closed, assigned to nobody

[2013-10-03 21:19] cscott opened #45 "Fails to compile with v8 3.21.18.2"
Starting at commit 619231913c1c2199be64a216e3bebc2a0936efda, I get the following errors when compiling against v8 3.21.18.2 (the latest 3.21 version of v8):

[code]

We currently test against 3.21.12, so this _should_ work...

[2013-10-03 22:08] #45 closed, assigned to nobody

[2013-10-05 19:13] #32 closed, assigned to nobody

[2013-10-17 14:15] stesie opened #54 "Crash with property declaration in class derived from V8Js class"
The following code runs as expected in PHP 5.3.3 but crashes PHP 5.4.4

[code]

Backtrace of crashed PHP 5.4.4 instance:

[code]

If the `public $testing;` property declaration is removed from the code everything works well, even with PHP 5.4.4

I probably will have a go to fix this, but do we want to fix this, or do you consider it expected behaviour?  (after all it shouldn't crash no matter what

[2013-10-18 11:44] #54 closed, assigned to nobody

[2013-10-19 00:55] stesie opened #56 "Travis config doesn't check for test suite errors"
The Travis configuration doesn't seem to check for test suite errors correctly.

See build output of https://travis-ci.org/stesie/v8js/builds/12743962 (I'm currently preparing another pull request, which broke the PHP 5.3 build however)

[code]

... and the build is marked with state "passed".

[2013-10-21 01:05] rbro opened #59 "executeFile method - feature request"
Thank you for a very useful extension.  Would it be possible to add an executeFile() method that works just like executeString() except it takes a filename as its first argument?  This would avoid having to call file_get_contents when the javascript to execute is in an external file.

For example, rather than doing:

$v8->executeString(file_get_contents('test.js'));

executeFile would allow calls

[2013-10-25 21:56] #25 closed, assigned to nobody

[2013-10-25 21:58] cscott opened #64 "Lifespan of php_v8js_ctx"
I'd like to think about the cleanup of php_v8js_ctx some more.  I think it might be possible for the ctx to be deallocated before all of the objects created in that context have been dereferenced -- like if you return a javascript object to PHP, store it in a property somewhere, and then the V8JS object falls out of scope.  Any ideas on how best to handle that situation?  Maybe we should ref the V

[2013-10-27 15:08] #56 closed, assigned to nobody

[2013-10-27 15:19] cscott opened #71 "We leak variables assigned to the V8 global"
The following code:

[code]

...prints `bar` -- that is, the variable `foo` is retained between invocations of `executeString`.  Further, `foo` then leaks if it's a reference to a PHP object, for example:

[code]

Somehow we're not cleaning up the v8 global object when the V8Js object is destroyed.

We should do that -- perhaps even doing that between executions of `executeString`, as I'm not sure

[2013-10-27 15:32] cscott opened #72 "Proposal: remove ad-hoc sync of V8Js object?"
The V8Js object is treated as a special case, and has its own handlers both on the V8 and the PHP sides.  Now that V8 wrapping of PHP objects works much better (since f6a6d1e4b59102716859aa0e8239083acd16d350) I think it makes sense to remove a bunch of this code and just expose the V8Js object using the standard `zval_to_v8js` wrappers.

However, there are some methods of the V8Js object which we

[2013-10-28 20:15] cscott opened #75 "V8Object and V8Function need to be protected."
From PHP code you can do

[code]

or

[code]

which then segfaults.  We need to protect these constructors from user code.

[2013-10-30 21:14] #75 closed, assigned to nobody

[2013-10-31 13:25] esv opened #78 "Persisting V8 instance between requests in php-fpm"
Hi!

Is it possible to persist V8 instance between requests in web server? I found old issue on this topic https://github.com/preillyme/v8js/issues/4 and seems it was impossible back than. Do you have plans to implement it? I think it would be useful feature, like persistent connections in mysql extensions.

[2013-12-07 15:59] cgwyllie opened #79 "Private/protected object properties are accessible from JS"
Hi,

Not sure if this is intended behaviour or not, but it seems like a regression given the number of test cases that have comments saying private/protected properties shouldn't be accessible from the JS side.

Test code:

[code]

This prints all three strings instead of throwing an error or printing undefined for the non-public ones.

Ubuntu 13.10
PHP 5.5.3-1ubuntu2
phpv8js: e68d7073de4e6fa7797d

[2013-12-10 20:04] stesie opened #80 "String with NULL-byte passback from JS to PHP fails"
[code]

Since both JS and PHP can handle strings with NULL-bytes I would expect even the latter to return a string of one byte length, ... well but:

[code]

[2013-12-19 05:46] hinzundcode opened #81 "Doesn't compile"
Hi,

v8js doesn't compile on my system. I use gcc 4.6.3 and get the following error:

[code]

What am I doing wrong?
Thanks a lot

[2013-12-29 08:21] #81 closed, assigned to nobody

[2014-01-03 21:17] stesie opened #83 "Fails to build against v8 since 3.24.10"
V8Js fails to build against the V8 version released today

[code]

for details, see Jenkins log: http://jenkins.brokenpipe.de/job/v8js-with-v8-3.24.10/

[2014-01-06 16:53] dguard opened #84 "Fails build v8js"
I'm getting error when try make php-v8js.
I'm using gcc version 4.8.1.
Versions of v8 library which I used to install: 3.20-3.24.
(Ubuntu 13.10, PHP 5.5.3-1)

Also I used gcc 4.7.3 but had same result. Install via pecl fails too.

What release and version of gcc I must use to install it correctly?

[code]

[2014-02-12 18:50] digipigeon opened #85 "Short Security Question"
I am looking at your v8 engine for PHP and it looks very promising, however I am not able to find any more details about your quote:

“The extension allows you to execute Javascript code in a secure sandbox from PHP. The executed code can be restricted using a time limit and/or memory limit. This provides the possibility to execute untrusted code with confidence.”.

I am mainly interested how secu

[2014-03-21 08:55] rosmo opened #87 "Fatal error inside PHP callback from JS results in segfault on cleanup"
A fatal error in PHP called from JS results in a segmentation fault while cleaning up.

[code]

Output:

[code]

Stack trace:

[code]

I tried some workarounds to this, like removing the locking before calling IdleNotification in php_v8js_free_storage but that results in memory leaks. Adding v8::TerminateExecution before IdleNotification doesn't help either. I also tried moving the whole script->R

[2014-03-21 23:31] #83 closed, assigned to nobody

[2014-03-22 00:26] stesie opened #88 "Build unstable against v8 >= 3.25.2; broken >= 3.25.12"
After fixing #83 the build is now broken for v8 version 3.25.12 and higher:

[code]

However it is already unstable since 3.25.2, since they added some memory leak assertion wrt. weak refs, which "crashes" the module shutdown

[code]

[2014-03-22 17:00] #88 closed, assigned to nobody

[2014-03-22 17:35] #84 closed, assigned to nobody

[2014-03-22 18:10] #85 closed, assigned to nobody

[2014-03-22 23:42] #80 closed, assigned to nobody

[2014-03-25 18:05] carlos22 opened #89 "v8js.so with static version of libv8"
Is it possible to use a static build of the libv8 to build php-v8js. This would be very useful as the required libv8 version is not even included in recent linux distributions (like Ubuntu 14.04). Therefore a simple installation via pecl or similar is not possible.

[2014-04-11 20:39] #79 closed, assigned to nobody

[2014-04-14 17:00] #87 closed, assigned to nobody

[2014-04-17 20:57] stesie opened #92 "Build broken against v8 >= 3.26.16"
Just to let you know, v8 API has changed once more breaking V8Js.

Will have a look the next days if noone else has a look.

[2014-05-14 21:59] #92 closed, assigned to nobody

[2014-05-20 12:19] rosmo opened #94 "Crash in zend_error"
This only seems to happen in Apache (at least a simple test from command line triggering "Array to string conversion" did not crash):

[code]

This started happening consistently right after the unwind patch.

[2014-05-22 22:58] #94 closed, assigned to nobody

[2014-05-23 12:29] rosmo opened #95 "Feature suggestion: compile scripts"
V8Js::executeString() now compiles and runs scripts each time it's called. It might be worth to add a V8Js::compileString() method which returns a resource for the compiled script and a V8Js::runScript() function to execute them.

[2014-05-28 09:07] andrewtch opened #96 "PPA / Packages"
Hi guys, for some time I've been playing with deb packaging and there's a question:
- do you need a ppa / packaging?
- what os do you use mostly (debian/ubuntu deb, rpm, or macos)?

[2014-06-13 01:16] camspiers opened #97 "Compiling on OS X"
I have had a lot of trouble compiling on OS X using the method described in the readme.

I have got it working with the following instead (requires g++-4.7).

[code]

I also needed to remove the "-Wl,-rpath" flags in the config.m4 file:

[code]

[2014-06-17 00:37] camspiers opened #98 "Memory leaks PHP5.5 apache mod_php"
I am experiencing memory leaks using v8js with PHP 5.5 and mod_php.

[code]

With a simple php file that creates a `V8Js` instance, I see memory used by apache increasing on every request. I also see the thread count increasing every request.

Making 100 requests to this simple script takes the memory usage from 1.1MB to 234.5MB. I see the thread count go from 1 to 506 threads.

[2014-07-17 19:35] Talanor opened #99 "v8js Not compiling"
Hello,

I built v8 with g++4.8 (accidentally), and it surprisingly went fine.

But when I tried to compile v8js, g++ displayed one of those world-famous wall of errors :

[code]

when searching for the error on Google, I found a link to #19 but none of the solution I found there worked.

I just stumbled across #84 which looks very much like it, but I am already building all this on bash.

Oh and i

[2014-08-10 12:00] #99 closed, assigned to nobody

[2014-08-20 21:40] git-admin-trulia opened #100 "Urgent! This repo is publicly accessible!"
This repository is publicly accessible. Pushing proprietary code to this repo could reveal trade secrets.

If this is intentional, please contact your lead so this repo can be whitelisted. Until that time, please refrain from pushing code to this repo.

[2014-08-20 21:45] git-admin-trulia opened #101 "Urgent! This repo is publicly accessible!"
This repository is publicly accessible. Pushing proprietary code to this repo could reveal trade secrets.

If this is intentional, please contact your lead so this repo can be whitelisted. Until that time, please refrain from pushing code to this repo.

[2014-09-05 19:16] #101 closed, assigned to nobody

[2014-09-05 19:16] #100 closed, assigned to nobody

[2014-09-16 14:02] #98 closed, assigned to nobody

[2014-09-16 22:09] stesie opened #103 "Unstable/unusable builds since 3.29.36"
We need to call `v8::V8::InitializePlatform` on startup now and `v8::V8::ShutdownPlatform` on shutdown.

See http://comments.gmane.org/gmane.comp.lang.javascript.v8.general/8029

[2014-09-17 08:30] stesie opened #104 "Support for old v8 versions"
Currently we require v8 version 3.22.3 or newer, however older ones aren't actively maintained by Google.  I think it's a bit intransparent which versions are actively maintained, according to https://code.google.com/p/v8/wiki/Source _usually_ the last two branches.
According to http://omahaproxy.appspot.com/ currently stable Google Chrome browser uses v8 version 3.27.34.17

So almost certainly th

[2014-09-17 17:58] #103 closed, assigned to nobody

[2014-09-18 10:24] stesie opened #106 "PECL Release"
Hey @preillyme

I think current master would be a good candidate for a release to PECL.

After all
* it actually supports recent v8 versions
* fixes some memory leaks and disposes isolates as needed
* gracefully handles php fatal errors (without crashing v8)
* fixes property visibility issues
* handle timezone changes

... I think that's enough to justify a release :)

Let me know if I can help ou

[2014-09-19 17:33] stesie opened #107 "Crash if module is required twice and assigned to variables"
I gave the CommonJS require stuff a try today:

[code]

... crashes :-(

[2014-09-20 13:05] #107 closed, assigned to nobody

[2014-09-20 18:09] #95 closed, assigned to nobody

[2014-10-08 09:17] rosmo opened #113 "Nested PHP thrown exception handling issue"
Exceptions thrown from a nested V8 seem to get lost and don't interrupt the Javascript execution:

Here's a small test I devised to test this out:

[code]

Output from older version:

[code]

Output from latest master:

[code]

(I rolled back all the way before compile script stuff and it doesn't affect this)

[2014-10-09 17:09] rauchg opened #114 "Include v8 in repository"
Just like node does:

https://github.com/joyent/node/tree/master/deps/v8

I think having to clone and compile your own v8 separately introduces a significant barrier to entry to v8js. Also, in general, making the default example install a global version of v8 is probably suboptimal, since most people will be compiling v8 for this project alone.

[2014-10-10 06:57] #113 closed, assigned to nobody

[2014-10-18 18:13] #89 closed, assigned to nobody

[2014-10-18 20:35] #64 closed, assigned to nobody

[2014-10-18 21:34] #26 closed, assigned to nobody

[2014-10-18 21:40] #59 closed, assigned to nobody

[2014-10-18 21:46] #71 closed, assigned to nobody

[2014-10-19 12:45] #104 closed, assigned to nobody

[2014-10-19 13:23] stesie opened #115 "cross-injection segfault with callback function"
If we have to V8Js instances, and A provides a callback function to PHP, and in PHP we forward the callback function to V8Js instance B like so:

[code]

... when V8Js B tries to call, then segfault:

[code]

[2014-10-19 13:30] stesie opened #116 "cross-injection segfault"
If we have to V8Js instances and export B into A, then A binds a function on B, ... then B can call the function in A :+1:  ... but it crashes on deconstruction :-(

[code]

like so:

[code]

[2014-10-19 14:11] stesie opened #117 "closures assigned to V8Js object not callable"
[code]

[2014-10-19 17:42] stesie opened #118 "call_user_func fails on V8Object methods"
[code]

[code]

after all this is very strange, since a direct call to `$a->bla()` works ...

[2014-10-19 21:29] stesie opened #119 "object serialization not caught -> segfault"
[code]

crashes like this:

[code]

[2014-10-30 17:55] stesie opened #121 "Segfault when appending to JS object attached to PHP object"
[code]

... stacktrace only shows v8 internals:

[code]

This is a regression by (my) commit 8b88b928c2824d48de482b3763c5f06e61a5b15c

[2014-10-30 22:19] #121 closed, assigned to nobody

[2014-10-31 23:31] #115 closed, assigned to nobody

[2014-10-31 23:45] #116 closed, assigned to stesie

[2014-11-04 21:08] stesie opened #122 "die/exit from within exported PHP functions causes segfault"
If JS context calls a PHP function that triggers either `die` or `exit`, the engine segfaults.

Example:

[code]

[2014-11-07 14:08] sKenDread opened #123 "checking for V8 version... NONE configure: error: could not determine libv8 version"
Ive been tearing my hair out trying to figure thois one out. Ive tried both comping using the basic methods on here and also from this site https://registry.hub.docker.com/u/stesie/v8js/dockerfile/
and go to the DockerFile tab to see the code.

Im on windows 8 and i am runung this through Cygwin ... heres a snippet

$  ./configure --with-v8js=/usr/local/v8
checking for grep that handles long lines

[2014-11-16 22:58] #24 closed, assigned to stesie

[2014-11-16 22:58] #123 closed, assigned to stesie

[2014-11-16 23:11] #114 closed, assigned to nobody

[2014-11-16 23:11] #96 closed, assigned to nobody

[2014-11-16 23:24] #78 closed, assigned to nobody

[2014-11-18 22:52] NickColley opened #125 "checking for V8 files in default path... not found"
➜  /  ls /usr/lib64/libv8.so.3.14.5
/usr/lib64/libv8.so.3.14.5
➜  /  sudo pecl install v8js-beta
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/v8js.so' - /usr/lib64/php/modules/v8js.so: cannot open shared object file: No such file or directory in Unknown on line 0
downloading v8js-0.1.5.tgz ...
Starting to download v8js-0.1.5.tgz (37,829 bytes)
..........done: 3

[2014-11-20 22:15] stesie opened #126 "Column in exception"
Copied from https://bugs.php.net/bug.php?id=67115

 [2014-04-23 13:49 UTC] corrado91 at gmx dot de
## Description:

Could you please also provide the columns of the exception and not just the line number? You get that in V8 with GetStartColumn() and GetEndColumn() from the exception message. That would significantly improve the possibility to show the error.

[2014-11-22 12:27] #126 closed, assigned to stesie

[2014-11-28 23:25] #125 closed, assigned to nobody

[2014-11-30 21:10] christiaan opened #127 "Unable to catch JavaScript errors when using V8Function objects outside of V8 context"
I don't see this behaviour described anywhere but it would be really nice to do the following.

[code]

This more complex example even gives me a segmentation fault.

[code]

[2014-12-01 21:45] stesie opened #129 "Time/memory cannot be limitted with V8Function calls"
Suggested by @christiaan on #127 , quote:

--- start ---
I've been giving it some more tought.. Besides fixing this behaviour would it be possible to have something like this? To make the whole V8Function more usable.

[code]

Another option could also be to make it impossible to invoke the V8Function from outside of a V8 context then I'll just work around it. Which seems to be the supported way o

[2014-12-01 21:48] #127 closed, assigned to stesie

[2014-12-01 21:57] stesie opened #130 "Fatal error unwinding not applied on V8Function calls"
Noticed while fixing #127, fatal php errors thrown within V8Function calls are not unwound as needed, hence v8 crashes when the isolate is disposed.

[code]

[code]

[2014-12-09 21:51] #129 closed, assigned to stesie

[2014-12-09 21:51] #130 closed, assigned to stesie

[2014-12-10 00:23] #122 closed, assigned to nobody

[2014-12-11 22:01] #119 closed, assigned to stesie

[2014-12-13 19:19] #117 closed, assigned to nobody

[2015-02-03 06:47] xzyfer commented on #106
A new pecl release would be great!

[2015-02-08 17:34] AlexeyFrolov commented on #97
cant build on Maverics too.. (

[code]

Why it "could not determine libv8 version"? Thanks in advance!

[2015-02-18 15:37] namjul commented on #97
having the same problem like AlexeyFrolov.

[2015-02-21 00:51] vojtech-dobes commented on #97
Also affected, running Yosemite 10.10.2. I have v8 installed using brew, version 3.30.33.16.

[2015-03-03 09:37] jaromirnyklicek commented on #97
Same problem here (Yosemite 10.10.2). I have overridden this by adding dirty hack to my config.m4 file (around line 50):
[code]

then `` ./configure --with-v8js=/tmp/v8-install CXXFLAGS="-D_GLIBCXX_USE_NANOSLEEP"`` ends correctly and creates Makefile.

But when I call 'make' I get couple of theese errors

[code]

So I guess there is still something wrong...

[2015-03-06 22:45] tahpot commented on #97
I'm also on OSX 10.10.2 and can't build. Tried @jaromirnyklicek approach of editing config.m4, but I still receive:

[2015-03-08 23:34] stesie commented on #97
I've finally fetched a MacOS vagrant image from the internet to give it a try myself; I'm usually on just on GNU/Linux boxes so bear with me...

The rpath stuff doesn't seem to be supported by Darwin, hence I've prepared a patched config.m4 file I'll eventually merge.

I used the Apple LLVM 6.0 compiler (clang); in combination with v8 *3.28.71.19* (latest one from the 3.28 line) *it works* for me.

[2015-03-09 03:33] tahpot commented on #97
Thanks stesie, much appreciated. Looking forward to the patch.

[2015-03-09 07:50] vojtech-dobes commented on #97
Awesome :).

[2015-03-09 12:53] #97 closed

[2015-03-09 12:59] stesie commented on #106
Re-assigning to me now since I've beed added as lead on pecl.php.net finally, yeah! :)
Bear with me that I'll first try to fix build with 4.x versions of v8 however ...

[2015-03-09 13:04] stesie commented on #97
Ok, I've now merged my changes and I've also fixed the libplatform problem that lead to linking issues with v8 versions 3.29.36 and higher

I've tried the 3.30 version installed by `brew install v8` -> works for me (now).
Version 3.32 should work likewise.

Version 4.x are currently known to be broken.  So better don't use these for the moment :-)

-----

@evandrix looks like you're using the 0.1.

[2015-03-09 14:24] jaromirnyklicek commented on #97
Thanks, works great. You're awesome ;-)

[2015-03-09 21:30] camspiers commented on #97
@stesie Thanks so much for your hard work on this!

[2015-03-09 22:19] tahpot commented on #97
I'm still having problems when compiling v8js:

/tmp/v8js/v8js_class.cc:293:6: error: expected a class or namespace
        v8::Debug::ProcessDebugMessages();
[code]

[2015-03-10 11:56] tahpot commented on #97
I've got this working once I upgraded v8 from 3.25.30 to the latest (3.30.33.16) after doing "brew update".

Thanks for your excellent work @stesie

[2015-03-10 15:19] ophibox opened #135 "exit() segmentation fault (11)"
I have narrowed down the segfault to the case where you call exit() BEFORE importing a module.
[code]
which is quite weird as one expects the execution to stop immediately.
Running my tests on an Amazon Linux AMI, php5.4.37 Apache2.4.10
As the script fails, several apache child processes seem to die as well, revealed by apache's error_log :

[core:notice] [pid 1327] AH00052: child pid 20650 exit s

[2015-03-11 10:53] tahpot opened #136 "Segfault: Exception thrown during bootstrappingBasics)"
I have a repeatable segfault when attempting to load the Handlebars.js library.

The segfault can be repeated with the following code:

[code]

The full error message is:
[code]

Running the same code in v8 works fine:
[code]

[2015-03-13 13:04] stesie commented on #97
@tahpot 3.25.30 should work again as well, just in case should you still care after upgrading :)

[2015-03-13 16:01] stesie commented on #106
Just uploaded the release package a few minutes ago.

I bumped the version number to 0.2.0 :-)

[2015-03-13 16:01] #106 closed

[2015-03-16 15:40] ophibox commented on #135
just to add to the issue, my setup is looking like this :
[code]

If I purposely add a runtime mistake such as
[code]

There is no more segfault but a fatal error :
[code]

[2015-03-17 11:23] tahpot opened #137 "Javascript -> PHP creates V8Object despite FLAG_FORCE_ARRAY"
If FLAG_FORCE_ARRAY is enabled, it only works if passing the Javascript Object to PHP via a method. Passing the Javascript object to PHP via an attribute of a PHP object still wraps it in a V8Object.

V8Js Code:
[code]

Response class:
[code]

Output for server.response.array = stuff:
[code]

Whereas output for server.response.setArray(stuff):
[code]

[2015-03-17 11:42] tahpot commented on #137
On a related note, I should also point out that attempting to cast a V8Object to an array only works for the top level. It would be really nice if there was a V8Object->toArray() method that was recursive.

Replace stuff with the following and call server.response.array = stuff:
[code]

Then, in PHP:
[code]

Produces:
[code]

Instead of:
[code]

[2015-03-25 22:03] pinepain opened #138 "Segfault when limits set"
The example from `tests/set_time_limit_001.phpt`:

[code]
when run with php-fpm behind nginx causes segfault (not on every run, apr. 75% of runs results in segfault):

[code]

v8js is latest from master branch, v8 is 3.32.6, php is 5.6.7 from ubuntu  ppa, os is ubuntu 14.04 (trusty):

[code]

All that are inside virtualbox image (under vagrant control), but I've got the same issue inside openvz co

[2015-03-26 04:28] guilhermeblanco commented on #136
I get the same error... basically, any undefined variable that creates either an Error (TypeError, ReferenceError, etc) will cause a segfault. =(

[2015-04-10 15:50] temuri416 opened #139 "configure: error: could not determine libv8 version"
Hi,

An attempt to compile v8js on Ubuntu14.10 results in:

[code]

What could be wrong there?

Thanks!

[2015-04-10 16:56] temuri416 commented on #139
./conftest: symbol lookup error: /usr/lib/libv8.so: undefined symbol: _ZTVN6icu_5413UnicodeStringE

[2015-04-10 18:23] temuri416 commented on #139
this did the trick:

sudo cp out/native/lib.target/lib*.so /usr/lib/x86_64-linux-gnu/

v8js now compiles fine.

[2015-04-15 23:38] tahpot commented on #138
I am also seeing this on OSX:

[code]

[2015-04-18 09:25] rosmo commented on #138
Can you use gdb to attach to php-fpm process and reproduce the crash there?

[2015-04-19 00:40] TimNZ commented on #97
Sorry, I'm a noob and frustratingly nothing is working to result in a successful compile.

Followed your README.mac_os instructions, following the guidance here, still get "checking for V8 version... NONE".

brew install v8 is installing v4.x which I did an unlink of and then followed your instructions.
Don't know how to read configure.sh so don't know exactly why it is failing.

I have no idea if

[2015-04-19 01:26] TimNZ commented on #97
If this helps:

From config.m4:
[code]

which ends up in configure after phpize:
[code]

The ac_fn_cxx_try fails and the else block is executed => NONE

[2015-04-19 18:36] rosmo commented on #136
Can you get a gdb backtrace from the process?

[2015-04-19 19:12] pinepain commented on #136
The whole problem is leaving `while (!V8JSG(timer_stop))` loop in [`void v8js_timer_thread(TSRMLS_D)`](https://github.com/preillyme/v8js/blob/2954de2db50b0a29a6e31fb3bceef6be3074498f/v8js_timer.cc#L67) function (this function runs in separate thread). When we leave that `while` loop, we literally exit the `v8js_timer_thread` function, so literally we finish threaded logic execution and the next go

[2015-04-19 19:15] rosmo commented on #136
It's not too dirty in my opinion. Mind if you submit a PR?

[2015-04-20 11:08] pinepain commented on #136
Which one, first with thread interrupting after js script execution done, or the second one - thread interrupting when request done?

[2015-04-20 11:11] rosmo commented on #136
I think the rshutdown function is not the best place, since you can have long running PHP cli processes which use V8Js. So the first one is better in my opinion.

[2015-04-20 11:31] pinepain commented on #136
I will play more with this in the evening, so if no one has better ideas I will PR later, say ETA up to 1 day.

[2015-04-20 11:36] pinepain commented on #136
The discussion above (about threading and timer) is about [issue #138](https://github.com/preillyme/v8js/issues/138). I miss the tabs with issues. Sorry.

[2015-04-20 11:36] pinepain commented on #138
See discussion in #136 (i miss tab with reply).

[2015-04-20 15:27] pinepain commented on #136
The discussion above (about threading and timer) is about [issue #138](https://github.com/preillyme/v8js/issues/138). I miss the tabs with issues. Sorry.

[2015-04-26 07:47] stesie commented on #139
Well, after all that's what is already written in README.Linux.md file; despite that you've copied to /usr/lib/x86_64-linux-gnu/

I'd assume that you already had libicu installed by Ubuntu's package manager and didn't overwrite it with the version from v8 project (which makes sense); but as libv8 is compiled against its own libicu it doesn't work.  Hence the recommendation to place both libv8 as w

[2015-04-26 07:47] #139 closed

[2015-04-26 11:49] #137 closed

[2015-04-26 11:57] stesie commented on #137
The object to array casting is a PHP core feature which cannot be influenced by an extension as such.

FWIW the toArray call on V8Object would be just convenience around stuff that can be done entirely in PHP as well.  And given that you can already choose what you'd like to have initially (array or V8Object), further conversion routines are very application specific.

Besides I'm unsure whether i

[2015-04-26 20:30] stesie commented on #138
@pinepain have you tried out your suggestion? Just asking since you say it should solve the problem, ... opposed to that it would or does.

And I don't see a problem with the v8js_timer_thread function.  The timer_stop variable is only set within the RSHUTDOWN function and RSHUTDOWN then immediately calls "join". If we'd apply the first patch you suggested, then we would try to join the thread fro

[2015-04-27 08:55] pinepain commented on #138
@stesie

Probably I wrote incorrectly, but yes, canceling thread immediately after it usage solve the problem.

As to `timer_stop`, probably, I missed something, I will re-check again. The idea is to stop thread (set `timer_stop` to `true`) and then `join()` and clear all it structs. That is what I tried to do and it helped me. I think the original problem is not this threading model, but somethin

[2015-04-27 22:25] #138 closed

[2015-04-27 22:37] stesie commented on #138
I've had another look at this one, and it turns out that any subsequent request was failing.

The problem was, that V8JSG(timer_thread) was not reset in RSHUTDOWN.  So if there is another request (that is handled by the same php-fpm process) it is still non-NULL -- hence executeString et al don't spawn a new timer thread ... and on RSHUTDOWN it is again tried to join the (same) V8JSG(timer_thread)

[2015-04-28 08:28] pinepain commented on #138
Thanks!

[2015-05-01 09:45] #136 closed

[2015-05-02 18:44] stesie commented on #135
Yes!  Nice catch :-)

V8::TerminateExecution doesn't immediately terminate execution (according to v8 documentation) even so the name might suggest that.  It's thought for terminating long running scripts and hence doesn't need to take effect immediately.

Since v8 itself doesn't provide a means of really terminating execution immediately I've added a work-around to enter an endless loop after sig

[2015-05-13 19:43] pinepain opened #140 "Modules caching not working properly"
In general:
 1. `require()` function doesn't use cached loaded modules.
 2. If we fix that, loaded modules may be changed after they loaded and required (incl. it cached value), so caching become useless.

TL;DR;
Original problem described and explained in SO question (with perfect answer) - [Using char* as a key in std::map](http://stackoverflow.com/questions/4157687/using-char-as-a-key-in-stdmap

[2015-05-19 18:01] Sunify opened #141 "Symbol not found on OSX"
I build extension following [instruction](https://github.com/preillyme/v8js/blob/master/README.MacOS.md), but have error in runtime:
[code]

What am i doing wrong?

[2015-05-29 07:08] rosmo opened #142 "GCC 4.4 no longer supported?"
Just tried compiling the latest master and it seems like C++11 closures are being used in a few places (eg. v8js_class.cc:500, v8js_v8object_class.cc:334). Apparently GCC 4.4 doesn't implement those yet, but it's still a pretty commonplace compiler (rhel6). Unfortunately my C++-fu isn't all that great, especially with the new features.

[2015-06-06 08:08] xicond opened #143 "Ask"
could this support wss socket ? is this extension available in windows

[2015-06-17 03:19] sormy commented on #141
use homebrew
[code]

[2015-06-20 19:57] tillz commented on #135
FYI: Same here, in case you need a CoreDump, contact me. I'll try the provided patch.
[code]

[2015-06-24 11:41] tahpot opened #144 "Catching PHP Exceptions in Javascript?"
I regularly have JS code executing in V8 which calls PHP code. If that PHP code raises an exception, I want to catch the exception in Javascript.

Is that possible at all?

Here's some example Javascript:

[code]

[2015-06-30 05:00] angelathewebdev opened #145 "Installation issue: make: *** [v8js_class.lo] Error 1"
I am following a [post](http://www.phpied.com/server-side-react-with-php/) to install v8js, and I got the following output. I have install `v8` via Homebrew (v.4.1.0.27), and `libv8` gem (libv8-3.16.14.9-x86_64-darwin-14).

        Game-of-Throne:libv8 angelawang$ sudo pecl install v8js-beta
        downloading v8js-0.2.0.tgz ...
        Starting to download v8js-0.2.0.tgz (87,387 bytes)
        .

[2015-07-13 12:24] tahpot commented on #144
Bump?

[2015-07-24 18:38] stesie commented on #142
Yes, V8Js meanwhile uses closures and those are supported from GCC 4.5 on only.
Since v8 itself requires c++11 also, I don't think that that's too much of a problem though.

[2015-07-24 18:44] stesie commented on #143
Yes, V8Js can be built on Windows, but it's a bit tedious since V8 as well as V8Js require a c++11 compiler, i.e. Visual Studio 2013 (at least).
However PHP for Windows is compiled with older Visual Studio version, hence you need to compile all the PHP stuff yourself, that you need

See https://github.com/preillyme/v8js/blob/master/README.Win32.md for details

Generally V8Js is a binding of V8 eng

[2015-07-24 18:52] stesie commented on #144
Sorry for not answering earlier.

It definitely should be possible, but haven't tried yet. I wonder whether V8Js should provide a config option, enabling this behaviour. So the extension user can decide whether the exception should be escalated to JS side, and then back to PHP side (if JS doesn't catch) ... or directly to PHP

[2015-07-25 07:46] stesie commented on #145
[code]

... these are actually caused by PHP internal macros, which cast -1 to unsigned integer. This is of course problematic, but needs to be fixed by PHP folks somewhen.
gcc accepts that, but clang doesn't. However you can pass CXXFLAGS="-Wno-c++11-narrowing" to configure to make clang accept that as well. The unfortunate thing is that you have to install manually (i.e. not use pecl then)

See

[2015-07-25 18:43] #135 closed

[2015-07-25 18:49] #143 closed

[2015-07-25 19:41] stesie commented on #145
Changed `config.m4` so it auto-adds `-Wno-c++11-narrowing` if supported by the compiler.

[2015-07-25 19:41] #145 closed

[2015-07-25 22:30] #141 closed

[2015-07-28 12:03] tahpot opened #149 "__call() not supported"
PHP Objects passed to V8 do not support the __call() magic method.

PHP code:
[code]

Javascript code:
[code]

Error:
[code]

I also tried obj.$helloWorld(), but that didn't work either.

Calling obj.__call("helloWorld", {}); does work.

[2015-07-31 21:16] stesie commented on #149
Yes, you're right.  V8Js behaves exactly as you've pointed out and that's actually expected behaviour (so not well documented).

The "problem" actually is that functions in JavaScript are first class objects, which differs from PHP behaviour.  This is functions are actually plain objects stored in variables.  Hence if you run a method on an object, JavaScript first does a "get" resulting in a func

[2015-08-01 01:09] tahpot commented on #149
Thanks stesie for the detailed response. That makes perfect sense and gives me a concrete example to work with.

[2015-08-01 05:15] rosmo commented on #149
@tahpot, maybe this could help you: http://rosettacode.org/wiki/Respond_to_an_unknown_method_call#JavaScript

[2015-08-01 05:17] rosmo commented on #142
V8 compiles on GCC 4.4 just fine though (4.4 supports a subset of c++11)... I'll look into this a bit later, since we're using RHEL 6.

[2015-08-01 08:22] stesie commented on #142
Which version of v8 do you use?

The latest versions ship a pre-compiled clang compiler (via depot-tools) that's used for compilation; so maybe it works just due to that?

[2015-08-01 08:50] stesie commented on #149
@rosmo good idea to use ES6 Direct Proxy API

Unfortunately v8 doesn't yet implement it :(

But with an ES6 shim (plus v8 flag `--harmony_proxies`) the code from the referenced page works indeed:

[code]

applied to the initial question about `__call` behaviour, direct proxy api use could look like:

[code]

[2015-08-01 14:21] stesie commented on #140
sorry for not answering earlier, but anyways thanks @pinepain for raising the debate

To be honest I've never really used V8Js' module stuff much before, apart from some testing. But already noticed some of the memory usage issues before; apart from the ones you mentioned, there is some reliance on PATH_MAX without bounds checking, etc.

So to give it a go, I'd strive for Node.js compliance, that

[2015-08-01 17:41] pinepain commented on #140
The idea is that code seems to be designed to cache modules but it doesn't. It doesn't look like it was done intentionally, so question is more about what should be desired behavior. For me Node.js way to cache modules based on their resolved filename looks good (ok, that "pure magic" was just for me after digging code related to caching). As to cloning, yes, there are a lot of hidden places to fa

[2015-08-03 06:40] #140 closed

[2015-08-05 07:53] tahpot opened #152 "Recommended V8 version?"
What is the currently recommended V8 version to use?

I tried building the latest on an Amazon AMI and ran into some issues, however specifically requesting 3.32.6 as referenced in README.Linux.md worked fine.

[2015-08-05 08:16] tahpot commented on #152
I should also point out the following adjustment to the install instructions which was necessary to get v8js working on the latest AWS AMI:

Change:
[code]
to
[code]

[2015-08-05 15:05] AlexMasterov commented on #152
I managed to get to work only <= 4.5.58 version.

[2015-08-06 07:27] stesie commented on #152
@tahpot  the /usr/lib64 thing is distribution dependent, e.g. on Debian there is no such thing as /usr/lib64
But I agree that it's worth mentioning that in `README.Linux.md`

Regarding the V8 version, actually I'd expect every version to function.  The problem is that with 4.4.9 or newer you need to disable snapshot support for V8 to work. If you don't even their example scripts immediately segfau

[2015-08-06 08:06] AlexMasterov commented on #152
@stesie after adding `snapshot=off` earned the latest version (4.6.52). Thank you.

[2015-08-06 09:13] TomCaserta opened #153 "Segmentation fault when constructing V8Js"
Hi whenever I attempt to create an instance of V8Js using `new V8Js();`

PHP segfaults with no error message. I turned on xdebug to figure out what was going on and this was the result:
[code]
From the command:

[code]

My PHP info on V8Js looks like the following:
[code]

Should the version be 0.2.1 or is that unrelated to the actual version of the extension. I compiled it only yesterday and prev

[2015-08-06 09:20] TomCaserta commented on #153
Aha just looking this looks like this may have been addressed in #152, will attempt one of the resolutions mentioned in there now.

[2015-08-06 10:35] TomCaserta commented on #153
Ok after waiting an hour to finish compiling, nope, doesnt appear to have fixed the issue by adding the snapshot=off to the make command.

[2015-08-06 17:16] stesie commented on #153
Err, the provided console output tells that the test suite did pass the test, so V8Js is working.
Maybe the previously compiled version is around somewhere and it's actually loading that one?

There also is that strange message `fatal: destination path 'v8js' already exists and is not an empty directory.` the output.  Depends on what the ran script is, whether that's a critical one.  Just in case

[2015-08-06 22:09] tahpot commented on #152
Great, thanks for the info.

[2015-08-06 22:09] #152 closed

[2015-08-06 22:11] tahpot commented on #149
Thanks @stesie -- two viable options there.

[2015-08-06 22:11] #149 closed

[2015-08-10 09:44] stesie commented on #153
@TomCaserta ping

Did that solve the problem you reported? Or doesn't it still work for you?

[2015-08-10 09:46] stesie commented on #142
@rosmo ping; how do you compile latest V8 with GCC 4.4? Or do you use an out-dated version?

[2015-08-11 08:30] TomCaserta commented on #153
Sorry was away for the weekend, I'm not entirely sure the path v8js existing would be a issue of which would cause it to not work (maybe, really do not know). I believe I have deleted all traces of v8js on my system and then recompiled, that fatal error did not occur when building it this time.

Thing is, it is still giving me a segmentation fault, I must have missed some reference to an older ver

[2015-08-11 08:51] TomCaserta commented on #153
Oh wow, okay sorted it. So originally there was definitely some sort of issue with the extension I compiled, which then caused me to use Xdebug.

Now I decided to not use xdebug and just try running it normally after I compiled it with the snapshot=off. It didnt segfault this time, I double checked it was working by printing something via javascript and that all worked correctly. So at this point

[2015-08-11 08:51] #153 closed

[2015-08-11 13:38] rosmo commented on #142
@stesie, Yeah, I think I tried compiling it with 3.24.9. I just looked at my V8 4.2 RPM and it's such a mess with the git provided dependencies, I have no idea what it actually used to compile it.

[2015-08-13 06:54] rosmo commented on #142
I'm in process of preparing a proper V8 4.x RPM for EL 6, which uses the new compiler from some centos repo, so I think this can be closed.

[2015-08-13 06:54] #142 closed

[2015-08-13 09:37] rosmo commented on #142
For future reference to anyone attempting compilation on RHEL 6:
- Get the newer compiler from http://people.centos.org/tru/devtools-2/
- Override chrono and mutex by copying them from /usr/include/c++/4.4.7/ to v8js directory and changing '#include <chrono>' (and mutex) to '#include "chrono.h"' (this is because devtools ships with newer libstdc++ headers).
- Export these:
[code]

[2015-08-19 03:01] MarkehMe commented on #139
Ran into this issue myself,

```sudo cp out/native/lib.target/lib*.so /usr/lib/x86_64-linux-gnu/``` solved my issue, thanks @temuri416 for pointing this out!

I was following all the instructions in https://github.com/preillyme/v8js/blob/master/README.Linux.md but it did not click that **x86_64-linux-gnu** was also a factor - maybe a quick side note should be added in?

[2015-08-19 03:15] MarkehMe opened #155 "Test Fail"
After following build instructions on https://github.com/preillyme/v8js/blob/master/README.Linux.md I ran ```make test``` all my tests failed. This is a virtualised environment.

Here is a copy of the failed test summary: http://pastebin.com/PhKVZUv8

[code]

Please let me know what other information I can provide!

[2015-08-19 03:24] MarkehMe commented on #155
Installing via pecl breaks my php installation as well with a symbol lookup error when I startup:

[code]

[2015-08-19 06:14] rosmo commented on #155
You'll probably need to copy libicui18n.so and libicuuc.so to /usr/lib/x86_64-linux-gnu/ as well.

[2015-08-19 06:59] MarkehMe commented on #155
Yep, I saw that in the documentation.

/usr/lib/x86_64-linux-gnu/libicuuc.so and /usr/lib/x86_64-linux-gnu/libicui18n.so are already in place

[2015-08-19 08:33] stesie commented on #155
@MarkehMe which version of V8 did you compile? If you use V8 versions more recent than `4.4.9.1` you need to pass `snapshot=off` to V8 make command. Otherwise V8 immediately segfaults as soon as it is initialized.

With V8 `out/x64.release/shell` you also find a small sample program from V8 developers, you might want to try whether that one works. If you're affected by the `snapshot=off` thing the

[2015-08-19 09:57] MarkehMe commented on #155
Takes me about 3-4 hours to compile on my computer, will get back to you then!

[2015-08-19 09:58] rosmo commented on #155
If you have multiple cores, try passing "-j8" (eg. -j and number of cores you have). That speeds up the compilation quite a bit.

[2015-08-19 09:59] MarkehMe commented on #155
Awesome! Thank you :smiley:

[2015-08-19 15:42] temuri416 commented on #139
Last time I used this to compile:

https://hub.docker.com/r/stesie/v8js/~/dockerfile/

[2015-08-19 17:26] rosmo commented on #139
Proper distro (ie. not Ubuntu) people might find this useful: https://github.com/rosmo/v8-rpm

[2015-08-19 17:32] #155 closed

[2015-08-19 17:33] stesie commented on #139
@rosmo feel free to add a link to README.Linux.md or so, via a pull request.

[2015-08-20 06:57] MarkehMe commented on #155
@stesie yep - ```snapshot=off``` fixed it. Might be worthwhile adding this to the README file?

[2015-08-20 07:33] MarkehMe commented on #155
I see you did ;) Awesome stuff.

[2015-08-21 12:22] stesie commented on #144
Stepping forward to implement this I stumbled over the fact, that JS execution continues even after the PHP exception was thrown.

[code]

The text "after throwException" currently appears, so probably not expected :-)

[2015-08-21 12:37] rosmo commented on #144
Apparently Javascript execution continues, but any PHP-method won't be called. Strange.. I verified with an older version of V8Js that it's been "always" like that.

[2015-08-21 13:09] tahpot commented on #144
Oh wow, you're right.

I've been having some weirdness going on which I hadn't investigated fully, but this would be the cause.

[2015-08-21 13:50] stesie commented on #144
Hmm, `tests/exception_propagation_2.phpt` even relies on this. I'm currently a bit unsure on how to fix this...

* the problem occurs if immediate exception propagation is disabled
* currently if `executeString` exits it checks for pending exceptions *from previous calls* and throws these; however *after* the code itself was executed

So if we now make sure to immediately stop JS execution if a PH

[2015-08-21 21:27] stesie commented on #144
and another question: how to propagate the exception at best?
Simply convert any exception to an Error object, run `getMessage` on the Exception object and simply propagate the message?  Or better prepend some text like "PHP Exception:"?
Export the complete exception object to JS, so further method calls on it are possible?
And if JS doesn't catch the exception, what then? Throw simply ScriptExcep

[2015-08-21 21:48] tahpot commented on #144
I think it's best to replicate the information available in the PHP exception as much as possible.

Unsure if this is possible, but something like follows would be nice:

1. PHP exception occurs
1. In JS, a new exception is thrown of type PHPError. This is a JS error object that matches as closely as possible the underlying PHP Exception. Alternatively PHPError just has the same message as the PHP

[2015-08-21 21:58] tahpot commented on #144
As per your propagation questions, I'm still trying to get my head around it...

What is the use case for disabling exception propagation? That's unclear to me, which makes it difficult to consider the most appropriate solution.

I've run into this quite a bit and vote yes. Ideally you want the most accurate as possible history of exceptions otherwise debugging becomes very painful and it limits y

[2015-08-23 16:56] stesie commented on #144
@tahpot I don't really know what disabled exception reporting is really good for, after all this behaviour can easily be achieved by wrapping the `executeString` method calls with try/catch blocks (after all you need error handling no matter what).  It just was around when I took over maintainership.

@rosmo maybe you can tell why it was implemented?

[2015-08-24 07:41] rosmo commented on #144
@stesie, I can't really recall... probably for some sort of compatibility stuff. Obviously it's correct to stop the JS execution on exception, but I would like this to be configurable (by default on is good) to keep things for breaking on our end.

[2015-08-24 10:13] stesie commented on #144
@rosmo I'm not sure if it's a good idea to keep all stuff, that was around once, forever.

Currently V8Js has no stuff marked as deprecated, and I agree that we need to have backwards compatibility for some time. But not forever, especially if it was marked as deprecated for a while.

Stuff that comes to my mind immediately

* passing time & memory limits to `executeString` method -> preferred way

[2015-08-24 10:19] rosmo commented on #144
@stesie, Yeah, that seems like a decent plan to me.

[2015-08-26 07:12] stesie opened #158 "Poor V8Function call performance"
If you keep a reference to a JS function in a PHP variable (by means of a `V8Function` object) like so:

[code]

... the performance is pretty bad: V8Js 0.2.1 takes 2.466s to execute these 1k calls, V8Js 0.1.5 even needs 80s.

Compared to the performance we achieve if executing the functions via `executeString` like

[code]

... which even has the disadvantage that the function is compiled over an

[2015-08-26 09:08] #158 closed

[2015-08-26 15:59] stesie opened #160 "FLAG_FORCE_ARRAY affects functions"
[code]

... fails, because $func is converted to `Array` and hence isn't callable.
Obviously the "force to array" rule shouldn't apply to functions. Just to normal objects.

[2015-08-26 16:43] stesie commented on #160
Fixed by https://github.com/preillyme/v8js/commit/53995ac616588c5e988a86628f1496ff668539fc
... however with wrong issue reference :(

[2015-08-26 16:43] #160 closed

[2015-08-30 10:27] maryo opened #162 "Compiling on Win32, crash"
Hi. I compiled the extension on Win32 using VC12 (Visual Studio 2013) using the guide
https://github.com/preillyme/v8js/blob/master/README.Win32.md

1. I fetched v8 (4.7.10 version) and it's dependencies using depot tools (`fetch v8`) rather than manually
2. compiled it using VS 2013, everything looks OK, the compiled unittest.exe outputs
[code]
3. copied the libs and headers to deps in PHP build

[2015-09-01 15:16] stesie commented on #162
Hi, I agree that that very likely is the case.  Have you tried also passing `-Dv8_use_snapshot='false'` to the gyp_v8 call?  (maybe see official docs at https://code.google.com/p/v8-wiki/wiki/BuildingWithGYP)

Please let me know if that works then.  I haven't tried building V8Js for Windows for a while (I actually don't have a build environment at hand, I used to rent a EC2 instance on AWS but gav

[2015-09-01 19:48] maryo commented on #162
Thanks a lot, it helped. I have tried it and specifying the option `Dv8_use_snapshot` alone didn't help, it stopped producing the `v8.lib` and `v8.dll` files. Then I've noticed `-Dcomponent` option at the official docs (not under Windows section). It was building a static library.

So `gyp_v8 -Dcomponent=shared_library -Dv8_use_snapshot=0` did the trick and it works properly now.

ad PHP7: Good ne

[2015-09-01 19:48] #162 closed

[2015-09-23 17:40] #144 closed

[2015-09-26 11:02] stesie commented on #162
@maryo still using V8Js and interested in sharing your build artifacts? Would be super cool if you could; I have a Linux box around (where the Jenkins hosting is hosted actually) where I could provide the files if traffic is a problem.

I'm wondering how to get a CI test environment for Windows back in place; maybe you want to join the Gitter chat for further negotiations

[2015-09-28 21:13] maryo commented on #162
I didn't get to use it yet but I want to try to play with GraphQL in PHP using original JS implementation from FB .

I've uploaded PHP (which is needed to be compiled using VC12 because of the v8) to my GH here:
https://github.com/maryo/php-5.6.13-win32-VC12

v8js php extension + a few others
https://github.com/maryo/php-5.6-extensions-win32-VC12
The extensions are mostly compiled using deps from

[2015-10-07 13:50] dotMastaz opened #166 "v8js : Could not determine libv8 version"
Hello,

I try to compile v8js, but i have this error :
checking for V8 version... NONE
configure: error: could not determine libv8 version

Any idea ?
Thanks,
Nico

[2015-10-07 16:03] stesie commented on #166
Could you please elaborate on what exactly you try to do and what you already did (from/compared to [README.Linux](https://github.com/phpv8/v8js/blob/master/README.Linux.md))?

Especially

* what platform are you trying to build on?  GNU/Linux?
* did you compile V8 yourself? how did you do that (snapshots? shared lib?) and how did you install?
* which options did you pass to `./configure`?

[2015-10-12 04:23] datnq201088 opened #169 "nodejs: undefined symbol: _ZN2v82V820SetFatalErrorHandlerEPFvPKcS2_E"
I have completed install `v8js` on Ubuntu. `V8js` works fine. But when I run `npm install` , I get this error :

     /usr/bin/nodejs: symbol lookup error: /usr/bin/nodejs: undefined symbol: _ZN2v82V820SetFatalErrorHandlerEPFvPKcS2_E

[2015-10-13 02:57] datnq201088 commented on #169
I had change folder build v8 `/usr` to `/opt/v8`. It works fine!

[2015-10-13 02:57] #169 closed

[2015-10-13 06:11] stesie commented on #169
yes, that's the way to go :-)
Sorry for not answering yesterday

[2015-10-13 20:47] dotMastaz commented on #166
Hello,

On CentOS,
I try with EPEL and from github source

i try with :
./configure
./configure library=shared
./configure native
./configure native  library=shared

[2015-10-14 19:12] stesie commented on #166
See https://github.com/phpv8/v8js/blob/master/README.Linux.md

You first need to install an appropriate version of V8; to do so you probably want to build it yourself and install as needed; If you're unsure which version to pick, I'd recommend latest version of 4.6 (stable) line, currently this would be 4.6.85.25
... if new enough and well maintained you might pick the version from your distro, ma

[2015-10-15 23:57] kynx opened #170 "Packaging"
First off, congrats on 0.3.0 (stable). Nice work.

I've got a [PR](https://github.com/Homebrew/homebrew-php/pull/2448) open over on homebrew-php so I can share this goodness with other folks in the office. But brew is the only "distro" I've found that is actually shipping v8 >= 3.24.6.

Short term for me this is mostly going to be a problem with travis / ubuntu 12.04. Compiling v8 is kinda weird,

[2015-10-18 20:44] stesie commented on #170
First of all thank you for creating a homebrew recipe for V8Js!

Regarding Debian & Ubuntu packages, I don't have exactly a PPA but nevertheless APT repositories for various distributions at http://packages.brokenpipe.de/apt/
... though currently there are no packages for 0.3.0 (as of yet).
The packages don't touch the system V8 version but place another V8 library off the normal load path and lin

[2015-10-18 20:50] rosmo commented on #170
@kynx, I've also created some RPM specs for V8: https://github.com/rosmo/v8-rpm (should build on el6 and el7)

[2015-10-19 10:46] kynx commented on #170
Thanks for that. Yes, I gave 3.17 a try and quickly realised it wasn't going to work. I'm not suggesting spending any effort on getting it working on old versions, just trying to understand what's needed.

Thanks for the package links - that'll make things easier. We already maintain an RPM repo at work, so for us it won't be much of an issue. But I'd really like to see v8js easier for other users

[2015-10-29 13:04] yograf commented on #166
I got the same error on ubuntu 12.04
I tried with and without the opt/v8 trick but without luck.

./configure --with-v8js=/opt/v8

 /tmp/v8js (master) $ ./configure --with-v8js=/opt/v8
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for a sed that does not truncate output... /bin/sed
checking for cc... cc
checking whether the C compiler wor

[2015-10-29 13:22] stesie commented on #166
@yograf please provide

* output of `find /opt/v8` command
* config.log file

How did you compile V8 on precise? AFAICR it doesn't ship a c++-11 capable compile with it

[2015-10-29 14:12] yograf commented on #166
@stesie  thanks.
I don't remember any error while compiling V8.
~ $ find /opt/v8
/opt/v8
/opt/v8/include
/opt/v8/include/v8-profiler.h
/opt/v8/include/libplatform
/opt/v8/include/libplatform/libplatform.h
/opt/v8/include/v8-util.h
/opt/v8/include/v8-version.h
/opt/v8/include/v8-testing.h
/opt/v8/include/v8.h
/opt/v8/include/v8config.h
/opt/v8/include/v8-platform.h
/opt/v8/include/v8-debug.h
/opt/v

[2015-10-29 14:30] stesie commented on #166
The interesting part is

[code]

... so g++ fails to compile due to stuff in v8.h

Which version of g++ do you use? (`g++ --version`)
I'd assume something old like 4.4 that doesn't support the c++11 standard well enough

V8 brings a pre-compiled clang version with it, which doesn't work on vanilla precise. Hence my question in the last post, since it requires glibc 2.5 or higher (AFAIK, not checke

[2015-11-01 05:53] yograf commented on #166
@stesie, Nope, g++ (Ubuntu/Linaro 4.6.3-1ubuntu5) 4.6.3
But I guess you're right and precise is too old.
I'll try Trusty.

[2015-11-02 18:50] kynx opened #172 "Setting properties on a V8Function"
My first real problem! I'm trying to do something similar to the following javascript in V8Js:

[code]

So I've got the following:

[code]

Well OK, it's a kind of crazy thing to want to do. But I've got PHP helpers being called from handlebars.js. They're passed JS functions, modify and then return them to the JS, which is expecting properties to be set. Any way around this?

[2015-11-03 20:40] #172 closed

[2015-11-09 20:33] #166 closed

[2015-11-09 20:33] #170 closed

[2015-11-28 10:51] 18601673727 opened #176 "After brew upgrade v8, this extension crashes everytime"
[code]

env:
[code]

[2015-11-28 11:55] stesie commented on #176
This looks really awkward, for V8 4.6 a array buffer allocater should always be provided by V8Js:

[code]

... and `v8::Isolate::New` is complaining that it wasn't provided.

When upgrading V8, did you re-compile V8Js in turn?

I suspect you've compiled v8js against V8 with version < 4.4.44 and now upgraded only V8, hence it still doesn't provide the allocator as needed now

To either prove or dis

[2015-11-28 12:00] 18601673727 commented on #176
Yes, please check this out, I reinstalled everything associated to php now, but error still the same.

![image](https://cloud.githubusercontent.com/assets/3302620/11451701/62844196-960a-11e5-8775-d2194880e422.png)

[2015-11-28 12:05] stesie commented on #176
I haven't tried versions 4.5.103.35 vs. 4.6.85.31, but generally it's not a good idea to link (aka run) with a different V8 version then you compiled against before

[2015-11-28 12:16] 18601673727 commented on #176
Thanks, I got it.

[2015-11-28 12:16] #176 closed

[2015-12-02 21:29] stesie opened #178 "require/setModuleLoader doesn't handle fatal errors well"
Steps to reproduce:

[code]

[code]

Same thing happens if you just call `die()` from the module loader

[2015-12-02 21:32] stesie opened #179 "Mapping Generator functions (objects)"
PHP 5.5 introduced generator functions as well as ES6 did.

However generators are neither mapped correctly from PHP->JS nor JS->PHP

[2015-12-02 21:34] stesie opened #180 "Refactor PHP7 branch"
The port to PHP7 needs some refactoring of the initial diff.

[2015-12-02 21:37] stesie opened #181 "Release V8Js 1.0.0 for PHP7"

[2015-12-03 12:26] 18601673727 commented on #181
excited!

[2015-12-04 08:45] kynx opened #182 "ICU/ECMA-402 support?"
Any chance of getting this built in?

From the [docs](https://github.com/v8/v8/wiki/i18n%20support) it looks as simple as adding `v8::v8::InitializeICU()` to `v8js_v8_init()`. But when I tried that it blew up. Turned out my v8 was built with `i18nsupport=off` and I'm not really sure how to test for that.

[2015-12-04 12:56] stesie commented on #182
ICU/ECMA-402 support should be available without modifications to V8Js once you don't compile with `i18nsupport=off`. You actually don't have to call `InitializeICU` yourself, V8 does by itself.

You tried with a V8 with i18nsupport (which is the default):

[code]

... looks like it just works to me :-)

my box has German locale, hence the dot for digit grouping

[2015-12-04 15:05] kinimodmeyer opened #183 "Access public - Methods in child class"
hello guys,
i created a child class to add more functionality to V8Js (dont know if this is right).

[code]
now i want to access this method in my js code with

[code]

but i just get the following error:

`TypeError: undefined is not a function`

with properties it works like expected:

[code]

[code]

i hope you can help me with this.

[2015-12-04 16:36] kynx commented on #182
Hey, fantastic. Serves me right for mucking about to get v8 compiled with use_system_icu - must've missed v8js doing the right thing amidst all my swearing :)

[2015-12-04 16:36] #182 closed

[2015-12-04 20:00] #180 closed

[2015-12-04 20:22] #181 closed

[2015-12-04 20:29] stesie commented on #118
Cannot reproduce with PHP7, hence rejecting.

[2015-12-04 20:29] #118 closed

[2015-12-04 21:10] #178 closed

[2015-12-25 21:30] stesie opened #185 "Wrong this on V8Object method invocation"
If a JavaScript object is passed back to PHP and the PHP code then calls a method on that object, this points to the global object (within the method) instead of to the JS object itself.

[code]

[2015-12-30 21:33] #185 closed

[2016-01-03 08:25] wagy opened #194 "PHP7 branch build on Win32 VC14"
Hi,
1. build v8 with using VS 2015,  everything looks OK.
2. copied the libs and headers to deps in PHP build tree   V7.0.1
3. copied the v8js branch PHP7 to ext folder in PHP build tree
4. configure  --disable-all --enable-cli --enable-cli-win32  --with-v8js
5. nmake
result
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\INCLUDE\chrono(778): warning C4091: "__forceinline ": Ignoriert auf d

[2016-01-04 18:10] stesie commented on #194
Hi,

could you please try moving the `#include <chrono>` line in `php_v8js_macros.h` right above the `extern "C"` line and then simply try again?  I suppose that php defines a macro named `inline`, which replaces the keyword `inline` in front of the `namespace` keyword (to something that isn't valid at that particular position).

I haven't yet tried that out as accessing a Windows box always is a

[2016-01-04 19:35] wagy commented on #194
Hi

yes this error is fixed bad now there is a other problem.
Now they include abs and also extern "C"  abs

C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\INCLUDE\cmath(17): error C2894: Vorlagen können nicht mit "C"-Bindung deklariert werden (Quelldatei wird kompiliert ext\v8js\v8js_array_access.cc)
C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\INCLUDE\cmath(35): error C2733: "a

[2016-01-04 20:58] stesie commented on #194
hmm, I'll rent a box on Amazon's EC2 and then have a look ...

[2016-01-06 09:42] stesie commented on #194
The php7 branch now compiles fine, but V8Js still has some issues regarding the test suite (opposed to using it under GNU/Linux).  What seems especially strange to me: it crashes if you require a three modules in a row :(

... and time/memory limit doesn't work neither.

everything else seems ok

[2016-01-06 19:09] stesie commented on #194
Ok, so the problems mentioned before all relate to V8Js not initializing v8::Platform as needed.  This complicates compilation a bit, but makes all tests pass :-)

Actually there were three tests left red, after initializing platform as needed, two of them caused by \r\n vs. \n differences and another one by providing error reporting in a slightly different order.

Besides that
* there is now a co

[2016-01-06 19:09] #194 closed

[2016-01-07 06:44] wagy commented on #194
Thank you :-)

[2016-01-07 12:43] stesie commented on #183
TODOs for PHP 5.x

- [ ] implement method export in V8Js::__construct without any PHP magic functions
- [ ] test private & protected methods must not be exported
- [ ] neither may methods from the base object be available
- [ ] __sleep and __wakeup must not be overridable (PHP side) and never be exported

I consider `__get`, `__set`, `__call`, `__invoke` et al beyond the scope of this ticket, and

[2016-01-07 18:41] stesie commented on #179
JS -> PHP

- [ ] define generator in JS and pass to PHP
- [ ] define generator in JS, instantiate the generator and pass to PHP
- [ ] ... iterating the JS generator in PHP
- [ ] instantiate JS generator in PHP
- [ ] ... and iterate over it in PHP
- [ ] ... and pass it back to JS and iterate in JS

PHP -> JS

- [ ] define generator in PHP and pass to JS
- [ ] ... instantiate the generator and pass

[2016-01-09 13:49] stesie commented on #179
... largely implemented by pull requests #200 and #201

Topics left: send & throw

[2016-01-10 15:14] #183 closed

[2016-01-25 15:47] mikemherron opened #203 "Time limit applied via setTimeLimit only enforced after calls to sleep complete"
This may be intended behaviour, but if ```sleep()``` is called with a duration greater than the script time limit (set via ```setTimeLimit```), the ```V8JsTimeLimitException ``` exception is thrown, but only once the sleep period has finished. The below script demonstrates this issue:

[code]

This will print out:

[code]

Given this, is there a way to stop the global sleep function from becoming

[2016-01-25 22:48] stesie commented on #203
I don't think it is intended behaviour - and I consider it at least inconsistent behaviour wrt PHP core.
And I already slightly changed V8Js' original behaviour by adding the `setTimeLimit` method behaving much like PHP's `set_time_limit` which e.g. resets the counter un succeeding calls

PHP's `sleep` however doesn't count towards the `set_time_limit` limit, ... hence I'd argue that V8Js::setTime

[2016-01-25 22:58] serenityzn opened #204 "v8js: v8js.so: undefined symbol: _ZSt25__throw_bad_function_callv in Unknown on line 0"
Hello,

I have compiled v8js (0.4.1 version) following README.Linux instructions.
Everything compiled fine but when php trying to load v8js extension it returns me an error:
PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/v8js.so' - /usr/lib64/php/modules/v8js.so: undefined symbol: _ZSt25__throw_bad_function_callv in Unknown on line 0

System: Centos 6.6.
V8 version: 4.3.9 (bui

[2016-01-25 23:19] stesie commented on #204
Have you checked whether V8 as compiled by you is working? e.g. by running some of their sample scripts like `out/native/hello-world` or `out/native/shell`

`_ZSt25__throw_bad_function_callv` is the mangled name for `std::__throw_bad_function_call()` symbol which should be exported by libstdc++

https://stackoverflow.com/questions/12942538/undefined-symbol-std-throw-bad-function-call might be rela

[2016-01-26 10:56] mikemherron commented on #203
Thanks for the detailed reply. #72 is an interesting discussion, though to be honest much of it goes beyond my understanding of the V8 internals. I had made some local modifications to provide a V8Js constructor argument that disables the built in methods (sleep, exit, print, var_dump), but I agree that it's not a nice solution really.

The ```$v8->executeString("delete this.sleep");``` work aroun

[2016-01-26 11:24] serenityzn commented on #204
Yes I have cheked V8 -  it's working fine:
v8]# out/native/shell
V8 version 4.3.9 [sample shell]

hello world

Yes I have multiple c++ libraries. I have installed devtoolset-2 with gcc 4.8.2. and used them to build v8 and v8js. But system GCC version is 4.4.7.

[2016-01-26 12:12] Enase commented on #204
Hi guys, I have the same troubles. Any suggestion is very welcome!
Thanks in advance.

[2016-01-26 12:26] stesie commented on #204
@Enase you're on Centos as well?

[2016-01-26 12:28] Enase commented on #204
cat /etc/centos-release
CentOS release 6.7 (Final)

[2016-01-27 15:51] Enase commented on #204
@stesie  pls, let me know if you need any additional info.

[2016-01-27 18:36] stesie commented on #204
@Enase sure I'll let you know. Unfortunately I haven't found time to set up a CentOS box yet

[2016-02-05 14:45] #203 closed

[2016-02-07 08:26] stesie commented on #204
Sorry for the late reply, but I finally found some time to spend on CentOS - after all it was a little bit more involved than I expected initially but ...

First of all I tried with a more recent version of CentOS (7.2) without any major issue

Then I tried CentOS 6.7 with python 2.7 (for the V8 build process) + devtoolset-2 as mentioned by both of you... and finally able to reproduce the problem

[2016-02-10 17:52] Enase commented on #204
Thanks, it works for me.

[2016-02-10 20:16] #204 closed

[2016-02-25 14:46] virgofx opened #205 "Possibility to Improve Performance with Precompiled Templates/Classes ?"
Would it be possible to precompile templates and classes with an additional method(s) such that performance improvements could be made for server side rendering?

A couple of examples...

**1) Cache React Library**
Loading the initial V8Js() with the executeString of the current React + ReactServer library takes ~60ms on my current vagrant machine [Ubuntu Trusty, Nginx, PHP56, 2GB RAM, V8-4.4, wit

[2016-02-25 22:05] kynx commented on #205
Have you looked at registering React as an extension (3rd argument to `__construct` or via `registerExtension()`)?

My understanding is that extensions registered this way will last as long as the process does. So if Nginx works like apache, that will mean as long as the worker process is serving requests. Not quite the same as an op-code cache available to all processes, but worth a shot.

[2016-02-26 00:51] virgofx commented on #205
@kynx I have not looked at `registerExtension()` functionality. However, being that phpv8 is an extension for PHP I'm still a little confused how that might benefit the typical FPM SAPIs which typically serve the backend requests for most production PHP stacks.

I'm not sure that hooking into Nginx/Apache would provide any benefit as the dynamic data comes from PHP; unless PHP could somehow utiliz

[2016-02-26 13:53] RiderSx commented on #166
@stesie what exactly version of g++ i need? Im getting same error. g++ is v4.8.4

[2016-02-26 17:44] dotMastaz opened #206 "checking for V8 files in default path... not found"
Hello,

I copy the libv8.so to /usr/ib/ , /usr/local/lib/ , /opt/v8/lib/ , /usr/local/v8/lib/

And after ' sudo pecl install v8js' :

I have this :+1:
checking for V8 Javascript Engine... yes, shared
checking for V8 files in default path... not found
configure: error: Please reinstall the v8 distribution

Thanks for your help !

[2016-02-27 01:07] virgofx commented on #205
I've confirmed that using `registerExtension()` allows to script to be cached within the PHP-FPM process including subsequent requests; however, there is 0 performance gain (the timings are just about identical -- that is registering an extension and then timing loading a new V8Js() instance versus a fresh V8Js instance and then running executeScript() with library data.

It would be really great

[2016-02-27 15:38] stesie commented on #206
Hi,

you don't just have to copy over the `libv8.so` file, but at least also the `libv8_libplatform.a` as well as the include header files.  See https://github.com/phpv8/v8js/blob/php7/README.Linux.md

If  you let V8 build its own version of libicu, than that one as well (possibly including the rpath fix, see README)

Hope that helps :-)

[2016-02-27 16:33] stesie commented on #205
I think this all is a mixture of different questions, so let me pick and answer one after another ...

### V8 Engine Startup Timing

Regarding the mod_php/fpm SAPI handling: opposed to the CLI & CGI SAPIs, those SAPIs handle multiple requests, however just one request after another (in non-ZTS setups parallel requests are handled by multiple processes). Nevertheless V8 itself is currently initiali

[2016-02-27 16:39] stesie commented on #166
@RiderSx which error do you get? The `error: expected unqualified-id before 'using'` or just `checking for V8 version... NONE` (which is caused in any case when it cannot figure out how to compile/link against libv8)

g++ version 4.8 should be fine; I'd suppose you have a different issue...

Please share the config.log file.

[2016-02-27 18:07] virgofx commented on #205
@stesie Thanks for the awesome feedback. I've somewhat came to the same conclusions as you. My thoughts in exploring the V8JS world:

**RegisterExtension**
You're right .. "worthless". In fact, when taking a look at the code, it actually requires slightly more work because of the extra checks at instantiation as well as more work in PHP land to ensure that application code properly checks to see i

[2016-02-27 20:59] stesie commented on #205
### Repeat Renders

I'm not sure whether we talk past each other regarding timing.  In pseudo code:

[code]

... as I understand your last comment `$timeC - $timeA` is ~65ms and `$timeD - $timeC` is ~8ms.

I actually would be interested in `$timeB - $timeA` and `$timeC - $timeB`.
And as a variation of that: the exact same measurement with `$ignoreMe = new V8Js();` added right *before* the assignme

[2016-02-27 21:33] stesie commented on #205
Hmmm, having given it another try it indeed is V8Js' fault...

If I modify `v8js_v8_init` to call

[code]

 before initializing the platform as well as the library, everything works fine (with V8 version 5.0)  :smiley_cat:

### snapshot quick start

create file doublify.js

[code]

... and create a snapshot with it embedded:

[code]

Then modify said `v8js_v8_init` function of V8Js:

[code]

make

[2016-02-27 21:39] virgofx commented on #205
Here is timing information:

[code]

[code]

[2016-02-27 21:54] virgofx commented on #205
@stesie I'm going to try to to build with snapshot of the react library if possible to see if I can reduce that 60ms by compiling extension manually with your suggestions and include in my above timing. If the snapshot heap reduces significantly, would it be possible to update V8JS `__contruct()` api to include snapshot (or another method)?

[2016-02-27 22:00] stesie commented on #205
Sure we can add some stuff to allow for custom snapshots.  Before doing so I'd like to further test whether snapshots can be applied on an isolate by isolate base and then provide the API accordingly.

I'd even consider to generate snapshots with V8Js, ... so you can create these, cache the result and re-use as needed.  Even so it might be wise to support "global" custom snapshots as well so you n

[2016-02-27 22:02] virgofx commented on #205
Sweet. Yes, generating snapshots via V8Js would be even easier (less work for deployment/CI build process). And global snapshots would also be awesome. Pass in the snapshot, and register is full extension wise (as mentioned earlier). Will keep you posted, stay tuned.

[2016-02-27 23:05] virgofx commented on #205
Unable to compare with V8 4.4.9.1 as `/vagrant/v8js/v8js_v8.cc:68:5: error: 'InitializeExternalStartupData' is not a member of 'v8::V8'` error. Will try latest version (similar to you) to see if this was introduced in later version.

[2016-02-28 07:30] RiderSx commented on #166
@stesie it's `checking for V8 version... NONE`. I will show config.log tomorrow, it's on work machine.

[2016-02-28 12:50] stesie commented on #205
so I was curious enough now to give it a try on my own ...

I've picked https://github.com/reactjs/react-php-v8js/tree/master/example and did some performance measurements, see this chart:

![chart](https://cloud.githubusercontent.com/assets/113068/13379256/10d8e0c2-de21-11e5-9083-686330904843.png)

I've tried with two different V8 versions with snapshots disabled and the 5.0.104 from yesterday wi

[2016-02-28 15:01] stesie commented on #205
http://v8project.blogspot.de/2015/09/custom-startup-snapshots.html

[2016-02-29 08:28] RiderSx commented on #166
@stesie here is a log: https://gist.github.com/RiderSx/66c24d03536154ecd5ee

[2016-02-29 21:47] stesie commented on #166
@RiderSx the actual problem is

[code]

... this is your `libv8.so` references a (undefined) symbol expected in `libicuuc.so`.

I suppose you compiled V8 and let it build its own version of libicu.  However then just copied over `libv8.so` to `/usr/lib`.

So either copy over the other `libicu*.so` files (which might be problematic) or compile V8 against the installed libicu by `export GYP_DEFINES=

[2016-03-01 01:23] virgofx commented on #205
The custom snapshots results look very amazing. Are the timings you provided in milliseconds as well? I'm still trying to get the snapshot pull to compile locally, once I do I'll compare as well against my baseline snapshot test above.

[2016-03-01 06:28] stesie commented on #205
yeah right, those are milliseconds too. The values themselves are averages over 100 samples each.

[2016-03-01 08:47] stesie opened #208 "Promise support"
Promises are an increasingly popular topic in JS world, and V8 supports ES6 promises well since quite a few releases

Passing Promise instances from JS to PHP should already work by normal wrapping means, i.e. V8Object.  This is PHP can register methods via `then` and `catch` as needed, which are wrapped to V8 native functions like usual.

Creating promises is more involved, either you ship a prom

[2016-03-01 09:32] dotMastaz commented on #206
Hello,

Compil v8js OK !!
Very big thank you very much !!

[2016-03-01 10:45] #206 closed

[2016-03-01 11:06] stesie commented on #208
my personal favourite would be to provide a `V8Promise` class behaving exactly like `V8Object` yet providing a `V8Promise::__construct(\V8Js $v8, Callable $resolver)` signature.

Besides wrapping JavaScript/ES6 `Promise` objects to `V8Promise` class instead of `V8Object` to aid type-hinting in V8.

This could very well be fleshed out to a `static V8Js::createWrapperClass(string $phpClassName, stri

[2016-03-03 15:13] matrixua commented on #166
I have the same problem, only under Centos 6.6

checking for V8 version... NONE
configure: error: could not determine libv8 version

CentOS release 6.6 (Final)

checking for V8 version... NONE
configure: error: could not determine libv8 version
ERROR: `/var/tmp/v8js/configure --with-php-config=/usr/bin/php-config --with-v8js' failed

Please, help.
Tell me if you need more some information

[2016-03-05 02:06] virgofx commented on #205
** TIMING RESULTS **

**4.4.9.1 - With Snapshot**

[code]

**5.0.104 - With Snapshot, V8JS-PR #207**

[code]

Woot Woot ✔

[2016-03-05 18:59] virgofx commented on #205
@stesie Thanks for the fabulous work integrating snapshot support and removing the 4.4.x dependency!

[ ] Creation of phpv8/phpv8-stubs   (Let me know if you want me to get this setup in the org + Packagist)
[ ] Tag New Releases in phpv8, phpv8-stubs
[ ] Update Pecl

[2016-03-05 19:14] stesie commented on #205
you're welcome! And thanks to you, @virgofx, as well, for debating, testing and pushing me forward :)
I'll release 0.5.0 after supper and upload it to PECL.

Would you like to set the phpv8-stubs stuff up?  I'd create a account under phpv8 org then and grant you member rights on that one then.

[2016-03-05 19:15] stesie commented on #205
- [ ] port snapshot functionality to PHP7 branch
- [ ] release php7 again as well

[2016-03-05 19:16] virgofx commented on #205
Yes, I can handle that, feel free to create repo and grant me rights. I'll do everything up to current and once you tag 5.0 , then I'll update stubs accordingly.

[2016-03-05 19:28] stesie commented on #205
@virgofx just created the repo and granted you the rights (don't know whether Github sends mail notifications, probably yes ...)

[2016-03-05 19:37] stesie commented on #166
@matrixua please open new bug reports for new topics (the "could not determine libv8 version" message is just so very generic and usually caused by mis-installations of V8).

Please attach your `config.log` file which should have a detailed error message.

Anyways, please see issue #204 regarding CentOS 6.6 - it's pretty outdated and you will have to statically link V8Js against PHP, which involve

[2016-03-05 19:39] rosmo commented on #204
Hey @Enase, you could also try the RPM specs for EL6 and EL7 for newer V8s: https://github.com/rosmo/v8-rpm

[2016-03-05 22:28] #205 closed

[2016-03-07 15:30] Jan-E opened #210 "Windows VC14 PHP7 extension available"
I have included php_v8js.dll in my regular builds of PHP7 for Windows:
https://www.apachelounge.com/viewtopic.php?t=6359

This is with V8 version 4.7.80.32, as you can see in the phpinfo() dump:
https://phpdev.toolsforresearch.com/php-7.0.4-Win32-VC14-x64.htm

If anyone knows how to compile V8 version 5.x with VC14, I could upgrade as well.

[2016-03-08 17:32] clowestab commented on #125
@stesie On Ubuntu 14.04 x64 I cannot install the latest version of libv8.

`fetch v8` and `gclient sync` result in:

[code]

Could you provide any insight on how one compiles the latest v8 as that outlined in the README does not work.

Many thanks

[2016-03-08 17:44] Jan-E commented on #210
I managed to compile V8 version 5.1.0 (candidate) with VC14.

Moreover, I changed config.w32 to parse v8-version.h and use those values for PHP_V8_API_VERSION and PHP_V8_VERSION. A pull request is in the making.

[2016-03-08 22:28] Jan-E commented on #210
https://github.com/phpv8/v8js/pull/212 (master branch)
https://github.com/phpv8/v8js/pull/213 (php7 branch)

will result in things like:
![capture](https://cloud.githubusercontent.com/assets/1757825/13618616/655f9026-e585-11e5-9c6a-6a71356dd6ff.PNG)

[2016-03-09 07:51] stesie commented on #210
Thanks for pushing forward on V8 on Windows! :-)

... I haven't compiled it on Windows for a while ... so does the README file (https://github.com/phpv8/v8js/blob/php7/README.Win32.md) still apply? Or has it changed since the 5.x branch in some way?

Besides that I think you shouldn't use V8 5.1 (which currently has "canary" status) in production, and having pre-built packages misleads to that a b

[2016-03-09 08:36] Jan-E commented on #210
I did a 'git pull', 'git checkout 4.9.385.29' on V8 now, then a 'gclient sync' and am building the x86 libs with

	set DEPOT_TOOLS_WIN_TOOLCHAIN=0
	python build\gyp_v8 -Dcomponent=shared_library -Dv8_use_snapshot=0
	perl -pi.bak -e "s/AsError>true/AsError>false/gi" tools\gyp\v8_base_0.vcxproj
	perl -pi.bak -e "s/AsError>true/AsError>false/gi" tools\gyp\v8_base_1.vcxproj
	perl -pi.bak -e "s/AsError

[2016-03-09 08:41] Jan-E commented on #210
What should be the PHP_V8_API_VERSION for 4.9.385.29?
v8js_zeroPad(v8build,2) in my PR's clearly does not suffice.

[2016-03-09 08:55] Jan-E commented on #210
There was an error while compiling:

    60>D:\chromium\v8\test\unittests\unittests_run.targets(28,5): error MSB3721: The comma
       nd "call "D:\chromium\v8\test\unittests\..\..\third_party\cygwin\setup_env.bat" &&
       set CYGWIN=nontsec&& set OUTDIR=..\..\build\Release\&& set INPUTPATH=unittests.isol
       ate && bash -c "\"python\" \"../../tools/isolate_driver.py\" \"check\" \"--isolated

[2016-03-09 09:13] Jan-E commented on #210
Result of my PR's was v8api = 40938529, v8ver = 4.9.385.29
I have locally changed the config.w32:

		var v8api = v8major + v8js_zeroPad(v8minor,2) + v8js_zeroPad(v8build,4);

With result v8api = 4090385, v8ver = 4.9.385.29
Better, but I do not know if this is the correct value for the API version. I did not investigate config.m4 yet. Rebuilding PHP 7.04 x86 TS right now.

[2016-03-09 09:18] Jan-E commented on #210
The V8 files can be found here:
https://phpdev.toolsforresearch.com/V8-4.9.385.29-x86.zip
282 MB ...

[2016-03-09 10:03] stesie commented on #210
`PHP_V8_API_VERSION` for 4.9.385.29 would be 4009385, the last part is ignored there

[2016-03-09 10:21] Jan-E commented on #210
In a glance I noticed there were some other failures at compiling the tests. That might explain the disabled tests. I will try to correct this.

Furthermore, "include/v8-platform.h" in include/libplatform/libplatform.h had to be changed in "v8-platform.h". A corrected zip is uploading right now.

phpinfo() after recompiling PHP 7.04 TS:
![capture](https://cloud.githubusercontent.com/assets/1757825

[2016-03-09 10:52] stesie commented on #210
I've just changed it in `config.w32` file.  Thanks.
Not yet in PHP7 branch, I'll do that with the next merge then.

[2016-03-09 10:56] Jan-E commented on #210
There were also some leftovers from the V8 v5 files in
https://phpdev.toolsforresearch.com/V8-4.9.385.29-x86.zip

There is a x64 version as well:
https://phpdev.toolsforresearch.com/V8-4.9.385.29-x64.zip

[2016-03-09 18:54] Jan-E commented on #210
Changing msvs_version=2013 into msvs_version=2015 did not make any difference. The compilation of unittests_run, cctest_run and d8_run kept failing. I am not really surprised, because it is a system-call with use of python, cygwin, bash and the like. The chances of failing are high, but it does not make any difference to the generated files. The failing projects only tried to run unittests, cctest

[2016-03-11 22:30] fterragna opened #215 "configure error"
Hey,

I'm hitting into an error while running ./configure CXXFLAGS="-Wno-c++11-narrowing"

[code]

Any ideas?

[2016-03-12 13:22] stesie commented on #215
Did you compile your V8 with external snapshot support?  If so, then it should have created `natives_blob.bin` file and V8Js can't find that file.

Otherwise it might be a general compilation error. Please see `config.log` file. Please provide that one here.

[2016-03-12 14:24] stesie commented on #125
@clowestab please open a new issue, this one's closed for more then a year now

What happens if you run the mentioned command manually?

[code]

no space left on disk? slow or broken internet connection?

[2016-03-14 10:32] anhkhoi opened #216 "natives_blob.bin... not found, Please provide V8 native blob as needed"
As report title, I'm trying to install php v8js on my mac os. The command as below:
`cd ~`
`mkdir tmp && cd tmp`
`git clone -b master https://github.com/phpv8/v8js.git`
`cd v8js`
`phpize`
`./configure CXXFLAGS="-Wno-c++11-narrowing"`
`make`
`make test`
`make install`

But I'm doing at step `./configure`. The command throw errors.
`checking for natives_blob.bin... not found`
`configure: error: Plea

[2016-03-14 12:00] stesie commented on #216
Did you compile your V8 with external snapshot support? If so, then it should have created `natives_blob.bin` file and V8Js can't find that file.

Otherwise it might be a general compilation error. Please consult config.log file for details.

If you need further assistance, please attach the `config.log` file here, or put it somewhere on pastebin

[2016-03-14 14:44] fterragna commented on #216
@stesie I'm guessing v8 was installed via brew. Here's the formula: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/v8.rb

I'm not too familiar with V8, but is this relevant?

https://github.com/Homebrew/homebrew/blob/master/Library/Formula/v8.rb (line 70)
https://bugs.chromium.org/p/v8/issues/detail?id=4511#c3

[2016-03-14 14:45] fterragna commented on #215
See https://github.com/phpv8/v8js/issues/216

[2016-03-14 14:45] #215 closed

[2016-03-16 03:11] anhkhoi commented on #216
@stesie
My config.log at here https://0bin.net/paste/SiPWlGLqcwl5Bwhe#WX3Bkyz9d7gIZ7xRJdlLOI6OR+r5Qbldgcry0jgP-7r
Please take a look

[2016-03-16 03:16] anhkhoi commented on #216
@fterragna
Yes, I used brew to install v8 and consult the setup guide at this page https://mathieuhays.co.uk/how-to-install-v8js-for-php-on-mac-os-x/

[2016-03-16 08:04] pinepain commented on #216
Here is homebrew recipe to install v8 with icu and snapshots without external blobs.

[code]

[2016-03-18 15:15] alextartan commented on #216
I bumped into the same error on ubuntu15. Any hints on how to get it working?

[2016-03-18 15:25] pinepain commented on #216
@alextartan On ubuntu you can use my ppa - https://launchpad.net/~pinepain/+archive/ubuntu/libv8-5.1. It's mostly experimental but may do the job.

[2016-03-18 18:35] alextartan commented on #216
@pinepain Nope, no luck. (some context: I've built the latest v8, continued with your instructions and when i ran `./configure`, it gave me that error about natives blob:

`
checking for V8 version... 5.1.117
checking for libv8_libplatform.a... found in /usr
checking whether V8 requires startup data... yes
checking for natives_blob.bin... not found
configure: error: Please provide V8 native blob a

[2016-03-18 20:08] upsala opened #217 "Possible memory leak?"
This results in a possible memory leak:
[code]

PHP Fatal error:  Uncaught exception 'V8JsMemoryLimitException' with message 'Script memory limit of 10000000 bytes exceeded'

Tested with PHP5 and the master-branch

[2016-03-19 11:11] stesie commented on #217
I doubt this is a memory leak, the problem with the memory limit is, that it simply tests the V8 heap size and kills V8 if it gets bigger than the limit. Yet it does *not* influence V8's internal garbage collection (or whatever else)

That said and given the pretty low limit of just 10 MB, a machine-dependent "new space size" of V8 of probably 8 MB and a target "old space size" of your V8 of 1.5 G

[2016-03-19 11:24] stesie commented on #216
The point is that `./configure` now tries to "guess" whether V8 requires `natives_blob.bin` file to run. Generally you can compile V8 with internal and external startup data (or no snapshot support at all).

`./configure` simply tries to run V8 without startup data, if that doesn't work, then it assumes that those blobs are needed. If it can't find any, it bails out.
The problem however is, that i

[2016-03-19 11:29] stesie commented on #216
@anhkhoi @fterragna I suppose there is an issue with `config.m4`, which overwrites a variable it shouldn't (which only triggers on MacOS where it has to link against two extra files).

Please try patching your `config.m4` files like this, then run `phpize` and `configure` again:

[code]

[2016-03-19 11:59] upsala commented on #217
The memory limit of 10MB was only an example. The same happens with 500MB.

If I use ```php ini_set('v8js.flags', '--trace_gc');``` I get many of this messages:
` [1104:0x255a1c0]    47101 ms: Scavenge 475.7 (519.0) -> 474.7 (519.0) MB, 0.3 / 0 ms (+ 0.0 ms in 16 steps since last GC) [allocation `failure].`

If I use ```php ini_set('v8js.flags', '--max_old_space_size=20')```, everything works fine

[2016-03-19 12:55] alextartan commented on #216
@stesie This is my config.log http://pastebin.com/1LkMqnSg (ran v8 make again just before the v8js)
Both are, as indicate, located in /tmp.

`sudo apt-get install libv8-5.1*`
`libv8-5.1-d8 is already the newest version.`
`libv8-5.1-dbg is already the newest version.`
`libv8-5.1-dev is already the newest version.`
`libv8-5.1.117 is already the newest version.`

[2016-03-22 03:30] kenpeter opened #218 "Use /opt/v8, instead of /usr"
If you don't want to overwrite the system copy of v8, replace /usr in the above commands with some other path like /opt/v8 and then add --with-v8js=/opt/v8 to the php-v8js ./configure command below.

What exactly do I need to change in "configure"?

Here is the configure file: http://expirebox.com/download/85d34ccf80cc75afc5fb41b3ae0ceec2.html

[2016-03-22 16:35] anhkhoi commented on #216
@stesie
Thank for your config.m4 patching. It's working for me.

[2016-03-23 09:09] stesie commented on #218
You don't need to modify the `configure` script itself, simply pass the `--with-v8js` parameter to it.

To compile V8 (version 5.1.200 + install to /opt/v8/5.1.200/) use something like this

[code]

The configure & build V8Js like this:

[code]

[2016-03-23 09:24] stesie commented on #216
@alextartan the critical part from the logfile is

[code]

So configure picks up V8 from /usr (as expected, which probably is @pinepain version), it even detects it is a 5.1 version line. Yet it has a v8.h header file that doesn't have `array_buffer_allocator` declared (which @pinepain dev-package amd64 for Ubuntu wily has however).

Hence, please check `/usr/include/v8.h` file, it should declare

[2016-03-23 09:27] stesie commented on #216
@anhkhoi thanks for the feedback, just merged it to master.  Will push a release with the fix soon.

[2016-03-25 23:03] stesie commented on #208
There are other methods like `Promise.resolve` that might be useful as well, hence the simple wrapper class might very well be way too simple :-)

At https://stesie.github.io/2016/03/V8PromiseFactory I blogged about implementing a simple `V8PromiseFactory` as in the initial post here (just as a full-fledged class). It's not long and it can do everything on PHP-side which the extension can do on th

[2016-03-25 23:03] #208 closed

[2016-03-25 23:21] stesie commented on #217
There are multiple garbage collection runs in V8, especially "Scavenge collection" and "Mark-sweep collection", where the former targets the "new space" and the latter the "old space". Compiled code directly ends up in the old space, hence the scavenge collections don't do much.

If you set both `--trace_gc --max_old_space_size=20`, then the output looks like this:

[code]

... notice the "mark-sw

[2016-03-25 23:22] #216 closed

[2016-03-26 23:58] stesie commented on #217
Bugfix merged, see #222

[2016-03-26 23:58] #217 closed

[2016-03-31 00:48] virgofx opened #223 "Create Snapshot Currently Sigfaults with Malformed Data - Add Capability to throw new Snapshot Exception"
The new snapshot feature works great. Would it be possible to update the API to have `createSnapshot()` throw exception on failure. During testing I have malformed script (or something that doesn't work great on server), yet very hard to debug. It currently throws sigfault crashing PHP with 502.

I'm not sure what types of exceptions can be caught during creation of the snapshot; however, the more

[2016-04-01 20:38] stesie commented on #223
V8 aborts the process itself here, there's nothing the extension could do about.

Do you have the JS payload that triggers the crash?  Could you please try running `mksnapshot` manually with that source code ... I suppose it crashes there as well (if the same source code crashes repeatedly)

... which version of V8 are you using?  Maybe just pick a (slighly) newer one

[2016-04-02 16:34] virgofx commented on #223
Well I found the single character that was causing the payload to crash. It was currently using "&ndash;"; I believe other entities as well make it crash. I'm reinstalling manually (instead of using precompiled binaries) to test the mksnapshot utility to see if it behaves any differently

[2016-04-02 17:09] virgofx commented on #223
I took your advice and upgraded from 5.1.53 to 5.1.256 and it looks like they've fixed a lot of unicode issues (in the change logs) -- which also now work in server side version and allow the entities in JSX (e.g. ampersand + other chracters)

As far as reporting errors, I was just wondering if it were possible to wrap the create snapshot in C-land to prevent the sigfault if possible. If it's not,

[2016-04-02 18:26] chazmuzz opened #224 "Linking error when building on CentOS"
I see that you frequently get questions on installation, so apologies for the repetitiveness.  However I couldn't find any help from the closed issues.

I am attempting to install v8 and v8js from source using the instructions in https://github.com/phpv8/v8js/blob/master/README.Linux.md

My system is CentOS 7.2.1511
I have PHP 5.6.19
I have g++ version 4.8.5
I am using the v8 tag 5.1.256, because

[2016-04-02 21:25] chazmuzz commented on #224
I see in my config.log that prefix=/usr/local, but libv8.so is in /usr/lib.  Is that the problem?

[2016-04-02 21:45] stesie commented on #223
no, there's no way for a caller (V8Js) to handle execution of illegal instructions by a called library (at least not a porable one).  After all V8 probably corrupted its memory layout by doing that ... so even if it would like to, V8Js couldn't continue it's work.

and after all, that clearly is a bug within V8 so there shouldn't be facades hiding it

[2016-04-02 21:45] #223 closed

[2016-04-02 21:47] stesie commented on #224
The config.log link 404s for me

Could you please `ldd /tmp/v8js/modules/v8js.so` which file actually it isn't finding

[2016-04-02 21:48] #218 closed

[2016-04-02 21:50] chazmuzz commented on #224
Here is the output

[code]

[2016-04-02 21:50] chazmuzz commented on #224
I suppose it's looking in the wrong place for libv8.so

[2016-04-02 22:41] stesie commented on #224
I don't know CentOS well enough but isn't `/usr/lib/` the directory for 32-bit libraries there whereas 64-bit libraries are installed to `/usr/lib64/`?

[2016-04-03 07:57] chazmuzz commented on #224
@stesie yes, that was the problem.  Moving the libv8* libs to /usr/lib64 solves the linking problem.  Thanks!

I copied and pasted the commands out of README.Linux.md.  The libv8 binaries are moved to /usr/lib.  Is that supposed to be /usr/lib64 for all 64-bit linux systems?

[2016-04-03 17:48] stesie commented on #224
... no unfortunately not.  On Debian & Ubuntu it's still /usr/lib, even for 64-bit systems

[2016-04-03 19:47] #224 closed

[2016-04-25 09:50] alextartan opened #227 "Cannot install on php 7.0.4 (ubuntu 16.04)"
I'm trying to run `sudo pecl install v8js-1.2.0`

The initial output is:
`Configuring for:`
`PHP Api Version:             20151012`
`Zend Module Api No:       20151012`
`Zend Extension Api No:   320151012`

I'm getting (last error):
`Makefile:218: recipe for target 'v8js_class.lo' failed`
`make: *** [v8js_class.lo] Error 1`
`ERROR: `make' failed`

To avoid spamming this page, I've made a pastebin

[2016-04-25 13:05] golinmarq opened #228 "Error compiling the v8js"
When I set the `make` command, the following error is displayed:
`make: *** [v8js_array_access.lo] Error 1`

What could it be?

[2016-04-26 07:42] stesie commented on #228
what else does it say (before that)?  Or is it really just that?  Maybe a `make clean` helps?

[2016-04-26 09:41] pinepain commented on #227
For further readers:

I added PPA for v8 5.2 series - https://launchpad.net/~pinepain/+archive/ubuntu/libv8-5.2, other changes:
 - add 16.04 xenial build;
 - remove 15.04 vivid build.

Hope, you will find it useful.

I didn't test v8js with it but it should be compatible.

[2016-04-26 11:30] stesie commented on #227
Nice catch, this possibly broke with most recent c++ headers, where `#include <cmath>` now undefines the `isnan` macro which is required by `php.h`.

The old v8js version works as it includes headers in a different order (which however breaks the build on windows)

#229 has a work-around, I'll merge it after verifying it builds correctly (including Windows).  Will take me a while so

[2016-04-26 23:05] AlexMasterov opened #230 "Tests "V8Js::setModule" is failing with V8 >= 5.2.51"
[code]
[code]
[code]
Also, I've noticed that they changed the location `libv8_libplatform.a` (V8 >= 5.2.125):
`out/native/obj.target/tools/gyp/libv8_libplatform.a` changed to
`out/native/obj.target/src/libv8_libplatform.a`

[2016-05-03 19:36] dlong5 commented on #228
I may have the same issue. Here is some more information. It looks like v8js expects GetHiddenValue to exist, but I wasn't able to find it in the v8 repository. Any help would be appreciated.

[code]

[2016-05-03 19:48] dlong5 commented on #228
Looks like v8 removed the deprecated GetHiddenValue function

[old version](https://github.com/v8/v8/blob/5.2.215/include/v8.h) from 5.2.215
[latest](https://github.com/v8/v8/blob/master/include/v8.h) from master

[2016-05-07 00:52] koriym commented on #141
same here.

homebrew v8js install cause error as follows.

[code]

[2016-05-12 13:16] bedokuroff opened #231 "Symbol not found: __ZN2v88platform21CreateDefaultPlatformEi on MacOS"
Hi!
V8js itself seems to be building, but when I try to do 'make tests', I encounter this:

dyld: lazy symbol binding failed: Symbol not found: __ZN2v88platform21CreateDefaultPlatformEi
  Referenced from: /tmp/v8js/modules/v8js.so
  Expected in: flat namespace

dyld: Symbol not found: __ZN2v88platform21CreateDefaultPlatformEi
  Referenced from: /tmp/v8js/modules/v8js.so
  Expected in: flat namespa

[2016-05-22 10:17] #227 closed

[2016-05-22 10:59] cdomigan opened #232 "Anyone had luck compiling for 32bit linux?"
Been banging my head against this for a few days now. Am on Ubuntu 14.04. Can compile V8 fine - shell runs etc. But `make test` on v8js leads to all tests failing. Testing on PHP CLI gives `undefined symbol: _ZN2v84base5MutexC1Ev`

Have tried all suggestions on here, and have scoured the net.

Anyone had luck compiling this successfully for 32bit? It's driving me crazy!

[2016-05-22 18:57] stesie commented on #228
You're right, the `GetHiddenValue` et al methods were deprecated and now removed from V8 5.2.

I've just adapted V8Js to use so-called internal fields, it's already merged into master.  I'll follow up with a release soon.

[2016-05-22 18:57] #228 closed

[2016-05-22 18:59] stesie commented on #230
Thanks for the report and sorry for not answering earlier.

I've fixed that for the PHP5 version today and will follow up with a bugfix release for PHP5, then merge to the PHP7 branch and release that.

[2016-05-22 20:31] #230 closed

[2016-05-24 21:34] TheLarkInn opened #235 "Do we have to implement our own CommonJS Module by default."
As I finally busted out php-v8js (5.6.10) I tried to use a CommonJS `require('parse5')` however the error message out of the box was as follows:

[code]

Is this something the user has to implement themselves? I see some commonjs libs inside the src lib, however I wasn't sure if there was a build error or not.

[2016-05-26 15:05] y8r commented on #235
+1

[2016-05-26 17:53] stesie commented on #235
The build seems correct and V8Js working properly.

V8Js provides a `require` API method to JS code that must be backed by a custom module loader. V8Js neither makes assumptions from where to load module code (file system, database, whatever) nor how the modules are structured (e.g. with `node_modules` folders or whatever).

So yes, you need to (at least) provide a module loader (via `$v8->setModu

[2016-05-26 18:00] stesie commented on #232
I'm afraid but nope, never tried it off amd64 (and Windows after all) and I don't remember anyone who tried or complained :)

Does you `libv8.so` have the symbol defined?

$ nm libv8.so  | grep  _ZN2v84base5MutexC1Ev
0000000000a4e880 T _ZN2v84base5MutexC1Ev

... on amd64 it has, (letter "T" for text section) ... if it hasn't it probably shows a capital "U" for undefined

You might want to continue

[2016-05-26 18:08] stesie commented on #231
Could you please re-check with either current Git HEAD or last V8Js release 1.3.0!?

The build system is expected to link against two object archives (libv8_libplatform.a and libv8_libbase.a) on MacOS -- and I accidentaly introduced a bug that it linked only against the latter. This was with V8Js 0.6.0 (and fixed with 0.6.1), ... the fix however only merged to php7 branch last weekend.

That's the

[2016-05-26 21:32] #210 closed

[2016-05-30 11:44] keepitsimple opened #236 "CentOS 7 & PHP 5.6.18 Unable to load dynamic library '/usr/lib64/php/modules/v8js.so"
Hello,
I can't use v8js; It doesn't work

Any help will be highly appreciated

PHP v8js version 0.6.3
PHP version 5.6.18
Cent OS 7 (64 bit)

Error:
Unable to load dynamic library '/usr/lib64/php/modules/v8js.so' - /usr/lib64/php/modules/v8js.so: undefined symbol: _ZN2v814ObjectTemplate11SetAccessorENS_5LocalINS_6StringEEEPFvS3_RKNS_20PropertyCallbackInfoINS_5ValueEEEEPFvS3_NS1_IS5_EERKNS4_IvEEESB_

[2016-05-31 08:51] bedokuroff commented on #231
Confirmed, with the fix from mentioned commit this one totally works.

[2016-05-31 08:51] #231 closed

[2016-06-02 03:05] cdomigan commented on #232
Thanks @stesie - I've given up and moved my stack over to 64bit (long overdue anyway!)

[2016-06-02 03:05] #232 closed

[2016-06-21 16:29] tiemevanveen commented on #236
You followed this guide https://github.com/phpv8/v8js/blob/php7/README.Linux.md and building gave you no other errors?

[2016-06-22 10:12] tiemevanveen commented on #236
Took some time to compile everything but I'm having the same problem. It seems as if the extension was not moved to the right directory after compilation..  If I add this to my php.ini everything works fine..

`extension=/tmp/v8js/.libs/v8js.so`

but I suppose that that is not the way to do it..

Maybe anyone from v8js could help us out ?

[2016-06-22 11:06] tiemevanveen commented on #236
Oh and here's my installation log (only the v8js part, first part got chopped off by iTerm.. https://gist.github.com/tiemevanveen/7afece87cb39f2f012ed84a6db43b952

This line indeed indicates the the extension installed in the tmp folder right? Is that supposed to happen at that point?
https://gist.github.com/tiemevanveen/7afece87cb39f2f012ed84a6db43b952#file-v8js-install-sh-L214

I was building V8

[2016-06-22 14:54] stesie commented on #236
@keepitsimple did `make test` work or did it output any errors?
If so, where did you install V8 to (and how? pre-compiled package or compiled yourself?), ... please provide the output of `ldd /usr/lib64/php/modules/v8js.so`

[2016-06-22 14:55] stesie commented on #236
@tiemevanveen did you run `sudo make install`? Can't see it from the Gist (it ends with the result of `make test`)

... and after all that `make install` step should install the library to `/usr/lib/php/nnn`

[2016-06-22 16:26] tiemevanveen opened #238 ""unicode/uchar.h" not found while building V8"
Trying to build V8 from scratch for usage with php. Following this guide: https://github.com/phpv8/v8js/blob/php7/README.Linux.md

But got stuck on this error while building with Gyp:

    fatal error: 'unicode/uchar.h' file not found #include "unicode/uchar.h"

It doesn't seem to be related to V8.. but here's the full log: https://gist.github.com/tiemevanveen/9da423d5afeb120d9eb026d8727b8ddc

I d

[2016-06-22 16:28] tiemevanveen commented on #238
Follow up issue for https://github.com/phpv8/v8js/pull/237 upon @stesie's request.

I did not create an issue here in the first place because I thought that my issue did not lie with phpv8 but with v8 itself.. But any help is very welcome!

Latest.

Trying to build v8 with it's own version of libicu now..

[2016-06-22 16:48] tiemevanveen commented on #236
Yes, followed this, which did work for me in the past (is already running in production :)).

[code]

That should install in `/usr/lib/php/nnn` but it did not, trying another time again now..

[2016-06-22 17:02] tiemevanveen commented on #238
Same thing..  https://gist.github.com/tiemevanveen/cee253baa630fc44b2e1b05a3ee161e8

[Line   2](https://gist.github.com/tiemevanveen/cee253baa630fc44b2e1b05a3ee161e8#file-installing-v8-with-own-icu-sh-L2)   $ git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
[Line  13](https://gist.github.com/tiemevanveen/cee253baa630fc44b2e1b05a3ee161e8#file-installing-v8-with-own-icu-sh-

[2016-06-22 17:38] tiemevanveen commented on #236
I'm flabbergasted.. just tried it again with v8 5.1.99 and it's working.

Okay I got one idea.. maybe copy pasting, and then the prompt at the end of test result screwed things up?

Thanks a lot for helping!

[2016-06-22 17:38] tiemevanveen commented on #238
Just retried with V8 v5.1.99 and I don't have any unicode problems there..

[2016-06-22 17:40] stesie commented on #236
... by the way, you can `export NO_INTERACTION=1` and `make test` won't interactively ask ;-)

[2016-06-23 05:32] AlexMasterov commented on #236
@keepitsimple comrade, I checked just now.

[code]

This even works on Alpine in Docker. Just use Docker!

[2016-06-23 12:31] keepitsimple commented on #236
Ok. But in my project I use PHP 5.x. RIght now we can't migrate to PHP7.

Our devops found some workaround which works. I propose to close this issue for now.

[2016-06-23 12:31] #236 closed

[2016-06-23 21:13] stesie commented on #238
I've tried with latest version as well, ... and seems like its currently broken ... tried with Debian Jessie and Ubuntu Precise.  I'm not yet sure if it's a temporary problem with their build system or things really have changed (but feels more like the former)

[2016-06-28 15:48] tiemevanveen commented on #238
Weird right? I feel like we should file an issue on their side but their issue tracker it not really easy to deal with.. (And I'm lacking the knowledge)

[2016-06-29 08:04] xprt64 opened #239 "configure: error: could not determine libv8 version"
I'm trying to compile php-v8js itself but I get this error: `configure: error: could not determine libv8 version`

This is the log from ./configure:

[code]

This is my machine:
[code]

[2016-06-29 12:45] stesie commented on #239
could you please provide the contents of the config.log file, it should contain the exact compiler error thrown

[2016-06-29 13:24] xprt64 commented on #239
[config.log.txt](https://github.com/phpv8/v8js/files/339352/config.log.txt)

[2016-06-29 16:01] stesie commented on #239
... from the log

[code]

... so V8 library is either not compiled or not installed well.

How did you compile V8 and where did you install it to? Did you compile against V8's libicu and not install it?

V8's build compiles example & debug commands, d8, lineprocessor et al.  Do those work?

[2016-07-02 00:49] AlexMasterov opened #240 "Tests "V8Js::executeString" (2) is failing with V8 >= 5.3.337"
[code]
[code]

[2016-07-02 21:09] #240 closed

[2016-07-02 21:13] stesie commented on #240
Fixed in V8Js releases 0.6.4 (PHP 5) and 1.3.1 (PHP 7), thanks for reporting, I had not noticed it before

[2016-07-02 22:06] stesie commented on #238
filed an issue on V8's tracker --> https://bugs.chromium.org/p/v8/issues/detail?id=5177

[2016-07-02 22:10] stesie commented on #239
a shot in the dark: you compiled V8 against its internal libicu, installed both off /usr/lib and the runpath in libv8.so is configured wrong.

try

[code]

[2016-07-03 19:36] AlexMasterov commented on #240
@stesie

Thanks for fixing this so quickly!

[2016-07-07 06:08] stonecold123 opened #245 "fatal error: libplatform/libplatform.h: No such file or directory #include <libplatform/libplatform.h>"
Hi,
I have been following [these steps ](https://laracasts.com/discuss/channels/forge/installed-v8js/replies/58405)to compile v8js in CentOs 7. In fact, I'm also getting the same error in arch linux. Would you please help me figure out what is wrong with the compilation?

[code]

I'm getting errors during this step

[code]

Here is the errors:
[code]

My php package:
[code]

gcc version:
[code]

[2016-07-12 15:07] stonecold123 commented on #238
Mine is stuck at this error as well. I follow your [guideline](https://github.com/phpv8/v8js/blob/php7/README.Linux.md)

[2016-07-13 15:08] several27 opened #246 "502 Bad Gateway (Segmentation fault when using array_walk_recursive)"
Hi,
I'm getting 502 Bad Gateway with the following error in error.log
`2016/07/13 14:53:24 [error] 769#769: *1 recv() failed (104: Connection reset by peer) while reading response header from upstream`

This is the code that I'm trying to execute:
[code]

I have installed v8 version 5.1.99 (as the newest is not compiling properly) with the newest version of homestead and laravel. I'm using php7 an

[2016-08-01 21:21] TysonAndre opened #247 "V8js is reading invalid memory (and possibly segfaulting) on module shutdown on non-ZTS builds if registerExtension is called"
PHP version: 7.0.9 (Debug enabled, no zts, opcache enabled for cli)

[code]

(Segfaults on module shutdown, not request shutdown).

I believe that the reason is because on request shutdown, all non-interned strings are freed. After request shutdown, those strings are accessed in module shutdown.

Command to reproduce:

[code]

Valgrind output, in tests/extensions_basic.mem

[code]

[2016-08-01 22:01] TysonAndre commented on #247
Note that builds with ZTS enabled, such as those used by travis CI, are completely unaffected (zend_interned_strings_restore_int does nothing with ZTS enabled)

[code]

[2016-08-02 04:05] smebberson commented on #236
@AlexMasterov, can you share how you got V8 to compile on Alpine Linux?

[2016-08-02 04:07] AlexMasterov commented on #236
@smebberson [alpine-v8-lib](https://github.com/AlexMasterov/dockerfiles/blob/master/alpine-v8-lib/Dockerfile)

[2016-08-02 06:43] smebberson commented on #236
@AlexMasterov thank you, thank you, thank you! I'll have a good look :)

[2016-08-10 12:40] tahpot opened #250 "PHP7 segfaulting - very strange"
See the code below which segfaults on execution, however the segfault can be fixed with seemingly irrelevant code changes.

- If you re-order or remove any of the JS code that is executed (within EOT section), the segfault stops occurring
- If you replace setData() method to do a simple `return;`, the segfault goes away.
- If you replace `$this->a->b->title = $title` with `$this->a->title = $title

[2016-08-10 14:49] several27 commented on #250
Do u think it might be related to https://github.com/phpv8/v8js/issues/246 ?

[2016-08-10 22:22] tahpot commented on #246
I can confirm your edit 2 snippet also segfaults for me.

@stesie Any thoughts on this? This is rendering v8js unusable.

[2016-08-10 22:24] tahpot commented on #250
Possibly? I really don't know. My code snippet doesn't use `array_walk_recursive`, but the behaviour is very strange.

[2016-08-11 01:00] imbubble opened #251 "not support v8 5.4.374"
what is the max version supported?

got error in v8 5.4.374:

[code]

[2016-08-11 05:08] smebberson commented on #250
Try this one:

[code]

It produces the following:

[code]

Same system info as @tahpot.

[2016-08-11 16:14] stesie commented on #251
@imbubble I can confirm version 5.4.3 working, but I'll look into supporting the most recent ones also, of course :)

[2016-08-11 17:04] stesie commented on #246
@several27 could you please confirm that #252 also fixes the issue you've got with Laravel? I don't have Laravel around (and unfortunately haven't had time to use it so far), so it would be cool if you could test that.

[2016-08-11 17:10] stesie commented on #251
I've now compiled V8 5.4.374 myself and can confirm it working with latest version of V8Js (1.3.1 or just php7 branch from Git)

[2016-08-11 17:11] stesie commented on #251
... therefore please provide your `config.log` file somewhere, it should have some more detailed info on what's going wrong

[2016-08-11 17:30] stesie commented on #250
@several27 I'm pretty sure this is not related to #246. The problem here is that V8Js wants to allocate memory via PHP's `emalloc` which fails ... so there's some memory corruption going on.

What's really confusing to me is that the problem disappears if `$this->a` is initialized like

[code]

... which makes me think of a PHP issue itself. Still not sure, need to dig deeper ...

[2016-08-12 00:21] tahpot commented on #250
@stesie Ok that's interesting. I can repeat @smebberson situation as well -- do you think that's a separate issue?

PS: Thanks for all your awesome help, resolving these issues.

[2016-08-12 00:21] imbubble commented on #251
Thanks for reply.

here is `config.log` and `v8.files` installed:

[v8.files.txt](https://github.com/phpv8/v8js/files/414448/v8.files.txt)

[config.log.txt](https://github.com/phpv8/v8js/files/414449/config.log.txt)

on `ArchLinux`, `PHP 7.0.9`

[2016-08-12 00:52] AlexMasterov commented on #251
@imbubble

In the list of files V8 does not have the required libraries.
It was probably built without `library=shared` flag or they just were not copied.

[2016-08-12 04:14] imbubble commented on #251
@AlexMasterov

okay, seems that's the point. thanks.

[2016-08-12 11:14] several27 commented on #246
@stesie As I mentioned in the **Edit 2** the issue is not related to Laravel like I initially thought. However, just now I was trying to install v8js and all of the tests are failing for some reason

[code]

I'm using older version of v8: 5.1.99, so that might the reason, however due to https://github.com/phpv8/v8js/issues/238 I'm not able to install the latest one.

[2016-08-12 13:27] stesie commented on #246
@several27 5.1.99 should generally work fine ... have you looked into the `tests/*.out` files, what do those tell?

Any yes, I got that you derived the code in "Edit 2" from that, but I wasn't 100% sure if my fix really fixes the initial issue or not. The problem is related to reference variables, but the first code snippet doesn't show it uses references (so Laravel might very well use some inter

[2016-08-12 13:40] stesie commented on #250
@tahpot no I've tested both and actually added both to V8Js' test suite

[2016-08-12 13:40] #250 closed

[2016-08-12 13:42] #246 closed

[2016-08-12 13:43] stesie commented on #239
no feedback, therefore closing. Feel free to re-open as needed.

[2016-08-12 13:43] #239 closed

[2016-08-12 13:46] several27 commented on #246
@stesie Thank you so much for fixing the problem!

Also, apparently I had xdebug enabled and it was looking for a modules/xdebug.so file. It passed all tests after disabling xdebug.

Thanks!

[2016-08-12 21:22] stesie commented on #245
Sorry for not answering earlier ...

Does `/tmp/v8-install/include/libplatform/libplatform.h` exist?

What does the whole `tmp/v8-install` tree look like?  Should be something like this (with different prefix of course):

[code]

... maybe also check the output of `configure` for which V8 version it finds (and where), should look something like this:

[code]

... as your `g++` call doesn't include

[2016-08-12 21:24] stesie commented on #238
... as the bug on V8 issue tracker is still open and they say that the `use_system_icu` feature is a best effort one, I'd change the build recipe back to using V8's internal libicu ...

[2016-08-12 21:32] #238 closed

[2016-08-13 09:23] AlexMasterov opened #256 "Tests is failing with V8 >= 5.4.419"
[code]
[code]

[2016-08-13 09:46] #247 closed

[2016-08-13 11:03] stesie commented on #256
I cannot reproduce this, V8 5.4.419 works for me, just like the other versions.  I've tested with 7.0.8 (NTS) and 7.0.6 (ZTS), both report all fine.

Are those tests flaky on your side (i.e. fail only sometimes and sometimes not)? What's in the tests/*.out files?

[2016-08-13 11:18] AlexMasterov commented on #256
@stesie

I compiled PHP with debug mode. This was the problem.
I'm sorry! Thanks for the reply and have a nice weekend.

[2016-08-13 11:18] #256 closed

[2016-08-20 23:35] virgofx opened #257 "Error Installing v8js-1.3.1 from PECL"
Installed V8 - 5.4.449 per latest Linux instructions. Attempting to install v8 from PECL instead of compiling manually results in:

**sudo pecl install v8js-1.3.1**
[code]

**php -v**
[code]

**cat/etc/*release**
[code]

[2016-08-20 23:49] virgofx commented on #257
Also, when attempting to build v8js manually --- all errors on make test

[code]
https://gist.github.com/virgofx/7c1b6dd34e0138b991ac5c6f7c103e5e

[2016-08-21 14:14] stesie commented on #257
nice catch, the compile error seems to be related to an error in the manifest file:

[code]

... where the C++ source obviously should have role=src (instead of data).

Regarding the errors on `make test`, could you please have a look into one of the `tests/*.out` files and post its contents here

[2016-08-21 14:15] #251 closed

[2016-08-21 14:15] #245 closed

[2016-08-21 15:25] virgofx commented on #257
Most of them had the similar error:

[code]

[2016-08-21 16:53] virgofx commented on #257
Manual compilation works with 5.3; however, PECL - v8js-1.3.1 broken as well same generator error.

[2016-08-21 17:37] virgofx commented on #257
Looks like the `make test` errors were because the snapshot files were not copied. I think may need to update Linux instructions to include those as I reinstalled 5.4 and it worked again (manually). Still not working from PECL.

[code]

[2016-08-29 02:17] tahpot opened #258 "Can't access V8Object after V8Js instance is destroyed"
See the code below which always causes an exception saying the V8Js instance has been destroyed.

If the v8->executeString() is unwrapped to not be within a function, it works fine.

Wrapped in a function (throws exception):

[code]

Commented out version (works):

[code]

[2016-08-29 16:15] stesie commented on #258
This is actually intentional behaviour, the destructor of V8Js class shuts down the V8 engine and releases all memory. As the `V8Object` doesn't store the object itself, but instead simply points to V8's actual object, access isn't possible once the engine is shut down.

[2016-08-29 22:44] tahpot commented on #258
Ok, thanks @stesie

If there was some way to pass around a V8Function object (perhaps if it was cloneable?) that would be very useful.

However, I should be able to get around this by wrapping the v8 engine and the V8Object in a containing class to keep them together and have them destroyed together.

[2016-08-29 22:44] #258 closed

[2016-09-04 05:09] Limnor opened #259 "Using PHP objects inside JavaScript code"
ClearScript (https://clearscript.codeplex.com) provides two functions, **AddHostType**(name, type) and **AddHostObject**(name, object), to allow JavaScript code to use .Net classes and objects. I hope V8Js also provides such functions to allow JavaScript code to use PHP classes and PHP objects. It can be quite useful  for server side JavaScript to fully access server side functionality provided by

[2016-09-04 10:35] pinepain commented on #259
I faced with a somehow similar problem before which resulted in different v8 extension in PHP. From my experience such integration like type mapping should better reside in a userland php scripts rather then extension. If it appropriate here, I'll give a link to my ext (though, it can be found in my github repos).

[2016-09-04 11:17] stesie commented on #259
v8js extension doesn't currently allow to directly export an object. The whole flow currently is designed around passing instances.

Yet it is pretty simple to achieve anyways, using a lightweight helper function:

[code]

... the trick is with JavaScript's prototypal inheritance, ... I simply provide a dummy instance of the object to the helper function, which just picks its `constructor` field a

[2016-09-04 15:08] stesie commented on #257
I've finally found some time to release 1.3.2 version of V8Js which ships the fixed packages.xml manifest.
Therefore "pecl install" should work fine as well after all.

[2016-09-04 15:08] #257 closed

[2016-09-04 16:23] pinepain opened #260 "Wrong license uri in package.xml"
In `package.xml` you have
` <license uri="http://www.php.net/license">The MIT License (MIT)</license>`
while it should be something like
` <license uri="https://opensource.org/licenses/mit">The MIT License (MIT)</license>`.

[2016-09-04 17:01] virgofx commented on #257
@stesie Thanks!

[2016-09-04 17:43] Limnor commented on #259
Hi pinepain, I believe the link is https://github.com/pinepain/php-v8. It is very interesting to see another extension. I'll spend more times with it. Thanks!

[2016-09-04 17:45] stesie commented on #259
@Limnor there's even a third extension around: http://www.php-javascript.com/

... but haven't tried it out so far.

[2016-09-04 17:46] Limnor commented on #259
Hi stesie, wow, thanks a lots for providing such a clever solution. I'll digest the techniques you demonstrated and try it out!

[2016-09-04 17:55] Limnor commented on #259
Hi stesie, thank you for pointing to that extension. I noticed that the first important value of this extension explained by the authors is "powerful", and why it is powerful is that it allows JavaScript code to use PHP variables and functions and other PHP features.

[2016-09-04 18:26] pinepain commented on #259
@stesie I gave it a look long time ago, right before choosing v8js (and then writing php-v8).

php-js also performs a lot of transformations internally and tries to provide the simplest to use interface to end user as possible. Because it doesn't fit's my needs and because of it slightly more complex building process (they use php-cpp which adds extra abstraction layer) and it license (GPL), v8js

[2016-09-04 18:30] pinepain commented on #259
@stesie I briefly described my experience with v8js which lead to writing php-v8 extension, I guess some points from it may be interesting for you - https://github.com/pinepain/php-v8/issues/8#issuecomment-244601087.

[2016-09-04 20:09] Limnor commented on #259
@stesie your code works like a charm. I wrapped it in a class:
`<?php

class V8PhpAccess
{
	public static function AddHostType($v8, $name, $type)
	{
		$typeExporter = $v8->executeString('(function(typeName, instance) { this[typeName] = instance.constructor; })');
		$typeExporter($name, $type);
	}
}

?>`

Now I can do $v8=new V8Js(); V8PhpAccess::AddHostType($v8, 'SendMail', new SendMail());

[2016-09-04 20:24] stesie commented on #259
@Limnor you could even cache the result of your `executeString` call within the class in case you export a lot of types

[2016-09-04 20:44] stesie commented on #259
@pinepain fair enough, I really like the low-level approach you took with your extension. Yet the tone of your writing bothers me ... maybe I got it wrong but telling that v8js is a nightmare security-wise, after months we've discussed here on Github and hours I've spent helping you out and arguing, is not what I had expected.

I actually agree with you - and you know that - that exporting those g

[2016-09-04 20:48] #260 closed

[2016-09-04 21:00] pinepain commented on #259
@stesie I'm terribly sorry, maybe that comment was not clear enough, I didn't want to say that v8js or any other solution is a nightmare, my point was is that it's a problematic to execute untrusted code in a safe and reliable way. Sorry again if it looked like I blame you or v8js, I haven't that in mind. I really appreciate your help and I clearly remember and value your help. I'd better remove t

[2016-09-04 21:42] pinepain commented on #259
@stesie I dropped that sentence completely. I'm sorry that it lead to misunderstanding.

As to that functions, I second you on a BC, it was one of those reasons which lead me to writing new extension and not to patch existent one. I just checked in source code and those functions are exported as a `v8::ReadOnly`, so I'm no sure whether they can be unset from JS runtime, afaik, I had to remove that

[2016-09-04 22:35] pinepain commented on #258
@stesie It's a bit late, but it seems to be storing reference to v8js js (and increment it refcount) in V8Function/V8Object could potentially solve this sort of problems. This approach did a good job in my extension.

[2016-09-04 23:38] Limnor commented on #259
@stesie That is a good suggestion. Cache added:
[code]

[2016-09-05 09:14] stesie commented on #259
@pinepain maybe I also got it wrong, who knows :) ... I'm neither an English native speaker. After all I'm happy that I shared my feelings with your writing so we could clear that up :-)

Regarding your example, attaching arbitrary data to PHP object I have mixed feelings. Actually it shouldn't be very problematic as it should hit PHP's memory limit (so yes the whole process would terminate, but a

[2016-09-05 09:23] stesie commented on #259
@Limnor that change pretty much is an (unfortunate) example to what @pinepain is saying that you can "accidentally" make properties visible to JavaScript.

... assigning `$v8->typeExporter` publishes the result ;-)

So if you really want to keep going with `public static` (which I personally almost consider an anti pattern) then you should have a `private static $typeExporters = []` array in that

[2016-09-05 09:29] stesie commented on #258
@pinepain yes, I actually considered this when I added the shutdown on V8Js object deconstruction (after all V8Js used to not handle the case at all when I more and more took over the maintainer role)

I think its far more transparent to think of the `V8Js` object as the "engine object" and if you let it die, the engine is also stopped (and then marking all V8Object/V8Function instances as dead).

[2016-09-05 09:43] pinepain commented on #258
@stesie But I see nothing wrong to prevent engine to die "accidentally" when it may be in use. Though, this is a controversial question how such cases should be handled. While v8js provider very convenient way to deal with v8, such small addition may even improve user experience with it. I'm pretty sure this is not the last issue reported, even if you put description of this behavior in bold in re

[2016-09-05 11:06] stesie commented on #258
@pinepain I've received that email, but haven't found much time since then. So I already started playing around with it -- and since yesterday there's a package for Nix(OS) of it ;-)

[2016-09-05 12:25] pinepain commented on #258
@stesie I have some scripts for v8 and extensions packaging in https://github.com/pinepain/php-v8/tree/master/scripts/ppa-packaging, hope, you may find in interesting. There are also scripts and formulas for homebrew packaging - https://github.com/pinepain/php-v8/tree/master/scripts/homebrew. If you will

If v8js depend on one of libv8 version available from my PPAs (https://launchpad.net/~pinepai

[2016-09-05 20:42] Limnor commented on #259
@stesie I tried your class wrapping and it worked great! I have a little concern about holding a reference of $v8 because if a developer puts the wrapper in a scope wider than $v8 then the wrapper changed the original scope. I do not know how PHP works, so my concern may not be valid. I wrapped your techniques in a class extending V8Js:
[code]
Basically I get what I originally asked for: adding Ad

[2016-09-05 20:46] Limnor commented on #259
@stesie there are errors in the code. I fixed:

[code]

[2016-09-07 03:35] smebberson opened #261 "Where is $ORIGIN"
In the instructions for Linux https://github.com/phpv8/v8js/blob/php7/README.Linux.md is the line `sudo chrpath -r '$ORIGIN' /usr/lib/libv8.so`. What does `$ORIGIN` reference?

Thanks!

[2016-09-07 09:47] stesie commented on #261
`'$ORIGIN'` is not an environment variable in this case, but literale value rpath should be set to. It means that accompanying libraries (i.e. libicu) are to be loaded from the same directory where `libv8.so` is in itself

[2016-09-07 23:05] smebberson commented on #261
@stesie, sorry to be asking what is potentially a stupid question. But do you have any idea what it should be set to?

I'm trying to upgrade from V8Js 1.3.1 to 1.3.2 and I'm getting the error `configure: error: Please provide V8 native blob as needed`. I'm guessing because the build process has changed slightly?

The following is my build script for v8 (building on Alpine Linux):

[code]

[2016-09-07 23:13] AlexMasterov commented on #261
@smebberson try to add this:
[code]

[2016-09-08 23:39] smebberson commented on #261
Thanks @AlexMasterov. That worked a treat!

[2016-09-08 23:39] #261 closed

[2016-09-09 02:02] tahpot opened #262 "Unexpected TypeError: Illegal invocation"
I have a strange problem, which unfortunately I can't isolate out of my actual code (sorry, I tried really hard!).

This code is being executed as Javascript within v8js:

[code]

Customer and office are both separate PHP objects that inherit from a common object that implements the getRelated() method.

Now, what doesn't make sense is office.getRelated is definitely an object with a getRelated()

[2016-09-09 17:43] kaysond opened #263 "win64 support?"
Do you have win64 binaries? Is there anything that would prevent me from compiling an extension for 64bit php? Figure I'd ask before I try it

[2016-09-09 20:01] stesie commented on #263
I don't have any.  I haven't done anything with Windows for quite a while -- apart from once getting this project to compile and configuring AppVeyor ... but I got nothing that isn't publicly visible from here.

And to be honest, I don't know about 64bit extension, never tried. But I don't know why it shouldn't work

[2016-09-09 20:09] stesie commented on #262
Does your code run within the web browser or within PHP CLI SAPI? Generally debugging is easier with CLI interface.

I suppose you can't share the whole (or at least the required) code with us?  :)

Are you running on GNU/Linux?  If so I probably can drive you through a debugging session remotely.

If you can make it work with CLI SAPI a first simple step would be to run php within the GNU debugge

[2016-09-09 20:25] AlexMasterov commented on #263
@kaysond see #210

[2016-09-10 22:19] kaysond commented on #263
Thanks @AlexMasterov
@stesie guess it does work. Might wanna add something to the win32 readme?
Found 64 bit dlls here:
https://www.apachelounge.com/viewtopic.php?t=6359

[2016-09-11 10:40] stesie commented on #263
Sure we can add a reference to there.
Would you like to come up with a pull request?

[2016-09-12 10:51] tahpot commented on #262
Thanks stesie.

I'll see what I can try to find with gdb first...

[2016-09-22 01:51] rbro opened #264 "natives_blob.bin - not found"
I am running CentOS 7 and followed the instructions in README.Linux.md to compile v8.  When I try to compile v8js 1.3.2, I'm getting a configure error:

[code]

I'm not seeing a file called natives_blob.bin in my v8 directory.

Can you please let me know how to generate this file?  I tried installing 1.3.1 instead and the configure worked, but I got a different error during compiling which I belie

[2016-09-22 16:43] stesie commented on #264
could you please provide the `config.log` file contents here

And yes, the latter issue should be fixed meanwhile.

[2016-09-22 17:24] rbro commented on #264
Yes, attached is my config.log.

[config.log.txt](https://github.com/phpv8/v8js/files/487958/config.log.txt)

[2016-09-22 17:49] stesie commented on #264
the problem is this one

[code]

... it tries to link `libv8_libbase.a` which apparently doesn't exist, and it even found that out:

[code]

... but it isn't necessarily needed.  Need to check back and try to reproduce (on some other box)

[2016-09-22 18:18] stesie commented on #264
Just uploaded version 1.3.3 to PECL that should have that sorted out

[2016-09-22 18:42] rbro commented on #264
Thanks for the quick fix.  I confirm it's resolved.

[2016-09-26 19:47] several27 opened #265 "Heroku - failed to compile"
Hi,
I have a problem when trying to deploy heroku app.
I'm getting the `push failed` error and this is the exact log pointing to the problem with a v8js version (?).

[code]

[2016-09-26 20:32] Jiri-Mihal commented on #216
I had the same issue on macOS Sierra and PHP 5.6, installation without Homebrew. I just copied missing files and problem was solved.

`cp /tmp/v8/out/native/natives_blob.bin /usr/local/lib/`
`cp /tmp/v8/out/native/snapshot_blob.bin /usr/local/lib/`

I hope it will be helpful for somebody.

[2016-09-27 09:55] pinepain commented on #265
Log says for itself:

Your app requires version 1.3.1 but 1.2.0 installed.

[2016-09-27 10:43] several27 commented on #265
@pinepain But it's an heroku app, with linked build pack through `HEROKU_PHP_PLATFORM_REPOSITORIES`. Shouldn't it be automatically updated to the latest?

[2016-09-27 11:09] pinepain commented on #265
`WARNING: Your 'composer.lock' is not up to date with` and then `Installing dependencies from lock file`: you have your .lock file out of sync with composer.json, try to sync it (run `composer update`) and then publish app again.

[2016-09-27 11:27] several27 commented on #265
My bad, was playing around too much. The problem still persists. In my opinion something is wrong with the [packages.json](https://heroku-v8js.s3.amazonaws.com/dist-cedar-14-stable/packages.json), it seems like it uses older version for some reason.

[2016-09-27 11:40] pinepain commented on #265
Hm, then you'd better wait for @stesie, I haven't looked into v8js heroku since may or so.

[2016-09-28 06:42] stesie commented on #265
@several27 the point is that I haven't yet compiled v8js for Heroku since 1.2.0

But thanks for pointing that out, I really should get some automatism installed :)

[2016-09-28 08:10] several27 commented on #265
@stesie I thought so. If you could please update it that'd be great.

Thanks

[2016-10-07 21:13] Jan-E commented on #264
@stesie Could you adjust the version number in this repo? It still shows as 1.3.2

[2016-10-11 12:01] bgarel opened #267 "global is not defined"
The nodejs "global" variable is not defined when loading external js script via require().
I have the following error when loading external lib which use the "global" variable :
ReferenceError: global is not defined in ....

Is it possible to "share" javascript variables in differents modules loaded with require() ?

[2016-10-11 17:34] kingmxiii opened #268 "fetch error"
When I try to execute fetch v8 on centos 6 i get the following error

[root@vtigertest tmp]# fetch v8
Running: gclient root
Traceback (most recent call last):
  File "/tmp/depot_tools/fetch.py", line 300, in <module>
    sys.exit(main())
  File "/tmp/depot_tools/fetch.py", line 295, in main
    return run(options, spec, root)
  File "/tmp/depot_tools/fetch.py", line 281, in run
    if not options.

[2016-10-15 17:23] temuri416 opened #269 "[V8 built with gn] configure: error: could not determine libv8 version"
Hello there again,

Can't compile the extension:

[code]

PHP5 V8 was compiled successfully following instructions at https://github.com/v8/v8/wiki/Building%20with%20GN

In #139 everything worked after I manually copied _.so files to /usr/lib/x86_64-linux-gnu/, but *_gn*\* build is entirely different and I cannot find output *.so files anywhere.

Have you tested compiling your extension against V8

[2016-10-15 20:05] temuri416 commented on #269
ok, I got the .so files by adding "is_component_build = true" to out.gn/x64.release/args.gn... But now I get this error:

[code]

[2016-10-17 15:48] temuri416 commented on #269
another update...

after compiling v8 with **"is_component_build = true"** I ran the following commands:

[code]

After that v8js did compile with:

[code]

However, `php -m` is reporting:

[code]

Crap... :(

[2016-10-17 17:01] temuri416 commented on #269
sorry for spamming, but this may save others a few hours :-)

I finally got every working. The "undefined symbol" problem can be circumvented by supplying "v8_enable_i18n_support = false" in out.gn/x64.release/args.gn. It looks now as:

[code]

Not sure if this is really required, but I also updated `out.gn/x64.release/v8_build_config.json` with: `"v8_enable_i18n_support": false`.

After it compil

[2016-10-19 10:16] remicollet opened #270 "Failed test on i386"
[code]

[2016-10-19 10:21] remicollet commented on #270
FYI, build against v8-5.2.258-7.fc25 available in Fedora 25 repository.

[2016-10-19 11:23] remicollet commented on #270
I noticed, in v8js_timer_ctx, memory_limit should be size_t to match definition of total_heap_size (v8 HeapStatistics). But this doesn't seems to help.

[2016-10-27 19:28] steezeburger commented on #264
I'm getting the same errors on MacOS.

Downloading 1.3.3 from PECL's website and refollowing the instructions, I still get the same errors about missing libv8_libbase.a, libv8_libplatform.a, and natives_blob.bin.

Any ideas?

http://hastebin.com/uwutaboson.makefile config.log if interested

[2016-10-31 22:33] several27 commented on #264
I have this problem as well, missing "out/native/obj.target/src/libv8_libplatform.a" file.

@steezeburger natives_blob.bin and snapshot_blob.bin are missing from out directory as well.

[2016-11-01 15:31] peterrobie opened #271 "Compiling Error on Ubuntu 16.04.1 LTS"
Looking for any suggestions for a resolution on this. This is the end result of the following command:
**make native library=shared snapshot=on -j8**

....
  CXX(target) /tmp/v8/out/native/obj.target/cctest/test/cctest/expression-type-collector.o
  CXX(target) /tmp/v8/out/native/obj.target/cctest/test/cctest/interpreter/test-bytecode-generator.o
  CXX(target) /tmp/v8/out/native/obj.target/cctest/t

[2016-11-01 16:41] #259 closed

[2016-11-01 16:57] #263 closed

[2016-11-01 16:57] stesie commented on #264
@Jan-E sure, sorry for messing this up

[2016-11-01 17:06] stesie commented on #264
@steezeburger I'm a bit unsure/confused, does it work for you now or doesn't it?

I agree that the error message might be misleading, it always complains about missing natives_blob.bin if it isn't able to successfully compile and run a minimalist V8. The problem is that `libv8_libbase.a` isn't needed on all systems (but some, e.g. MacOS and NixOS Linux need it, Ubuntu Linux doesn't) ... yet `libv8

[2016-11-01 17:11] stesie commented on #267
Sorry for not answering earlier, I was a bit too busy lately ...

Current release version of v8js doesn't have that feature (unfortunately).

I started working on cleaning up the require-code a while back and added support for exactly that `global` variable back then with commit https://github.com/stesie/v8js/commit/1ae99d2ab945b0900a81c106a26ea83b18df0d11

... maybe you'd like to try that out :)

[2016-11-01 17:19] stesie commented on #269
Hey, sorry for not answering earlier. Unfortunately I was too busy lately ...

anyways, thank you soooo much for figuring that out already :) I don't think we need a solution to link against system icu libraries ... yet completely disabling i18n is a bummer also. I'd appreciate if we can make it work with third-party-icu as before

[2016-11-01 17:23] stesie commented on #271
Try without the `-j8` option to make, or maybe reduce to `-j4` or `-j2`. It's the number of compiler processes ran in parallel ... and I suppose your system is running out of RAM.

You also might want to check `dmesg` for kernel log messages on why its killing the process. But I'd guess it's the "out of memory" handler

[2016-11-01 18:10] peterrobie commented on #271
Thanks stesie. I'm running the build again with -j2 to be on the safe side and I'll post the results of the build here.

[2016-11-01 19:31] peterrobie commented on #271
All is working. Thanks for the tip. Could the Readme be updated to reflect this for others trying to compile?

[2016-11-01 20:17] stesie commented on #271
You're welcome. I've just added notices to the README file, thanks for pointing that out.

[2016-11-01 20:17] #271 closed

[2016-11-03 00:56] FullstackJack commented on #269
Also having trouble generating a libv8_libplatform.a file on a Ubuntu vagrant box. I have been trying with the LINUX README instructions, but will give GN a try.

[2016-11-03 03:51] FullstackJack commented on #269
OK, GN build works with the recommended args and install steps in the SO question. The README for Linux should be updated with GN install steps since gyp is no longer supported.

[2016-11-03 20:46] steezeburger commented on #264
@stesie The last command I was able to run was the `./configure CXXFLAGS="-Wno-c++11-narrowing"`

`make` then fails due to too many errors and warnings

[2016-11-13 03:10] four-eyes-04-04 opened #272 "Update README file for Windows"
- WAMP 3.0.6
- PHP 7.0.10
- APACHE 2.4.23
- WINDOWS 10 64bit

Please fix these. the links are no longer working.

[code]

# IF NO FIX AVAILABLE

Please suggest another way to be able to install v8JS on my machine. I need to use **[laravel-react](https://github.com/talyssonoc/react-laravel)**.

[2016-11-13 12:58] stesie commented on #272
@four-eyes-04-04 fair enough, ... are you willing to figure out what's wrong there?
/cc @Jan-E have you looked into this already?

I think the approach outlined in the README file for Windows doesn't work anymore after V8 changed from Gyp to GN.

Yet I'm still focused on the GNU/Linux platform and don't even have a Windows box around. So if someone else is willing to help out here, you're more tha

[2016-11-15 18:26] Jan-E commented on #272
@stesie I compiled V8 master, marked as version 5.6.0.0 in v8-version.h. But php_v8js.dll did not compile. The same happened with V8 branch 5.5-lkgr (5.5.372.19). Compiled version of VP-master is here:
https://phpdev.toolsforresearch.com/V8-master-x64.zip

As you can see the lib-names have changed. They now end in .dll.lib. Master creates dll's now for for v8_libbase and v8_libplatform as well. 5.

[2016-11-15 22:45] stesie commented on #272
@Jan-E could you please paste what the lines 671 and 672 of file `C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\INCLUDE\string` look like!?

[2016-11-16 01:54] Jan-E commented on #272
671: inline namespace literals {
672: inline namespace string_literals {
[code]

[2016-11-16 10:22] four-eyes-04-04 commented on #272
@stesie the error I get when I run the command `svn co http://gyp.googlecode.com/svn/trunk build/gyp`

[code]

when I checked the URL **http://gyp.googlecode.com/svn/trunk** I got a 404 not found error.

# any other way to instal v8js on my machine?
- windows 7 32bit and windows 10 64bit
- XAMPP 3.2.2

[code]

[2016-11-16 10:23] four-eyes-04-04 commented on #272
@stesie sorry for the late reply btw, there are lots of activities going on at school right now.

[2016-11-16 10:34] four-eyes-04-04 commented on #272
I actually found a way to install it. I am still now sure if it will work but my `phpinfo()` is showing a v8js extension now. You can now close this issue if you wish or maybe continue until you fixed the links. Thank you for your responses btw.

[2016-11-16 10:41] Jan-E commented on #272
How did you install it? And which v8js version is showing up in your phpinfo()?

[2016-11-16 11:04] Jan-E commented on #272
@stesie

The errors did not occur in V8 version 5.4. With some adjustments in config.w32 I managed to compile a php_v8js.dll with version 5.4.500.43. To make debugging easier:

https://phpdev.toolsforresearch.com/V8-5.4.500.43.zip
https://phpdev.toolsforresearch.com/V8-5.5.372.23.zip

[2016-11-16 11:13] Jan-E commented on #272
BTW: I already uploaded the PHP 7.0.13 and PHP 7.1.0RC6 builds:
https://www.apachelounge.com/viewtopic.php?t=6359
https://phpdev.toolsforresearch.com/php-7.0.13-nts-Win32-VC14-x64.htm

https://www.apachelounge.com/viewtopic.php?t=6617
https://phpdev.toolsforresearch.com/php-7.1.0RC6-nts-Win32-VC14-x64.htm

[2016-11-16 11:29] Jan-E commented on #272
Adjustments in config.w32 are substantial:
https://github.com/Jan-E/v8js/commit/94519caa659d6e33a951b049a0f3a015bdc69b55

[2016-11-16 12:45] stesie commented on #272
@Jan-E very nice, thank you! Are you going to follow up with a Pull Request?

[2016-11-16 12:47] four-eyes-04-04 commented on #272
@Jan-E

You can check this ![screenshot](https://cloud.githubusercontent.com/assets/21032419/20347344/936d2154-ac3b-11e6-9627-e943c1bb9f92.png) to see my v8 info generated via `phpinfo()`

# How I installed it
### I don't know if the same will work for other O.S.

- Downloaded the compiled version [here](https://s3.amazonaws.com/win-phpv8/v8js_vc14_php7_ts.zip)
- I extracted `v8.dll`, `icuuc.dll`,

[2016-11-16 13:02] four-eyes-04-04 commented on #272
@Jan-E

You can check this image
![screenshot](https://cloud.githubusercontent.com/assets/21032419/20348343/e5126f92-ac3f-11e6-825e-daea7c404894.png)
 to see my v8 info generated via `phpinfo()`

# How I installed it
### I don't know if the same will work for other O.S.

- Downloaded the compiled version [here](https://s3.amazonaws.com/win-phpv8/v8js_vc14_php7_ts.zip)
- I extracted `v8.dll`, `icuu

[2016-11-17 10:30] Jan-E commented on #272
https://github.com/phpv8/v8js/pull/273

[2016-11-17 16:17] stesie commented on #272
Thanks @Jan-E for updating the config.w32 file. Since you've also managed to compile V8, would you also like to update the README.Windows.md file to reflect recent changes on how to get V8 itself compiled?

[2016-11-17 16:38] Jan-E commented on #272
Yes, I will. But not instantly. In due time...

[2016-11-17 17:12] stesie commented on #272
@Jan-E never mind, I'm really glad that you're doing this at all :-)

[2016-11-22 04:42] magichim opened #274 "Mac os brew - No available formula, "php56-v8js""
When I install php56-v8js by using brew, I got the message that 'No available formula with the name "php56-v8js" '

My OS is Sierra 10.12.1 and php version is 5.6.25.

what should do I do in this case???

[2016-11-24 18:17] mikemherron commented on #264
@stesie Just FYI I am experiencing the same issue as @several27, the libv8_libplatform.a is not generated when building v8, causing the configure command to fail. I'm using V8 5.7.27.

[2016-11-24 19:23] Jan-E commented on #264
@mikemherron Looks like the same problem that Windows users are experiencing for every V8 version > 5.1. Ref: http://stackoverflow.com/q/38674676/872051

On Windows you can solve that by

See my comments in https://github.com/phpv8/v8js/blob/php7/config.w32#L47
I guess there is a comparable link statement on *nix.

[2016-11-24 19:53] Jan-E commented on #272
Reminder for myself. Take a look at https://groups.google.com/d/msg/v8-users/Y05xPj956Ys/miIvYWyZBgAJ

[2016-11-24 21:53] Jan-E commented on #272
TL;DR: up until 'msbuild all.sln' are the essential steps
Do not forget to build v8_libbase.lib & v8_libplatform.lib afterwards
cd obj\v8_libplatform && lib /out:v8_libplatform.lib *.obj
cd ..\..\obj\v8_libbase && lib /out:v8_libbase.lib *.obj

Initial setup is a mixture of the Linux & Windows commands at
https://www.chromium.org/developers/how-tos/install-depot-tools
[code]
Transcript of building

[2016-11-27 22:14] stesie commented on #274
I think this is a problem with homebrew itself. I'm not on a Mac but I'd recommend to ask there, or to contact the maintainer of the v8js formula for homebrew

[2016-11-28 08:58] pinepain commented on #274
@magichim there is v8js formula for PHP5.6 in homebrew-php - https://github.com/Homebrew/homebrew-php/blob/master/Formula/php56-v8js.rb. Please, make sure you have homebrew/php tapped (with it dependencies) and it is up to date.

[2016-11-30 09:26] AlexMasterov opened #275 "Instructions for installing V8 on Alpine (GN/GYP)"
**V8** (Alpine Linux)
[code]

**V8Js**
[code]
After compiling V8 5.6+, I found only `libv8_base.a`.
This is a configuration problem with V8Js, or my build of V8?
Same problem with the extension [php-v8](https://github.com/pinepain/php-v8).

[2016-11-30 11:18] pinepain commented on #275
@AlexMasterov v8 have you traced the issue? AFAIR, there was some changes in v8 build process and some target directories were renamed/moved. I build v8 for PPA, here is [rules file](https://github.com/pinepain/packaging/blob/master/ppa-packaging/libv8/debian/rules), but the last version I tried was 5.4. Will give it (building v8) a look later today or at least this week. If there will be any upda

[2016-11-30 12:02] pinepain commented on #275
It seems to be v8 build process was heavily changed, here is some discussion - https://github.com/Homebrew/homebrew-core/pull/7168.

[2016-11-30 20:30] pinepain commented on #275
After spending whole evening with fresh v8 5.7.94 it's clear that build system and layout was changed significantly.

@stesie what approach do you follow in terms of supported v8 versions?

I guess building manual may be adapted according to that changes. However I'm not sure what direction v8 is moving. In php-v8 I serve build versions specially for my ext, and I can drop older v8 version support

[2016-12-04 00:26] AlexMasterov commented on #275
@pinepain glad to see you here, thanks for the reply.

GYP is going to be deprecated, but it seems that GN is not compatible with Alpine:
[code]

[2016-12-04 04:33] reiswindy commented on #269
Tried this on both Kubuntu and Linux Mint 18 and worked so far.

Supplied these values to args.gn
`is_debug = false
target_cpu = "x64"
is_component_build = true`

After compiling, ran the following commands:
`sudo mkdir -p /opt/v8/lib && sudo mkdir -p /opt/v8/include
sudo cp out.gn/x64.release/lib*.so /opt/v8/lib/ && sudo cp -R include/* /opt/v8/include
sudo cp out.gn/x64.release/natives_blob.bin

[2016-12-04 04:36] reiswindy commented on #269
Tried this on both Kubuntu and Linux Mint 18 and worked so far.

Supplied these values to args.gn
[code]

After compiling, ran the following commands:
[code]
Then:
[code]
If the lib and include files are kept on their own separate folders instead of being copied to /usr/lib and /usr/include there's no need to disable i18n it seems. Didn't throw any errors when running `php -m`.

[2016-12-05 16:23] temuri416 commented on #269
@stesie It would be great if you could update official compile guide with the steps that we've outlined in this thread. No pressure though :)

[2016-12-05 16:34] stesie commented on #269
@temuri416 never mind :) actually I'm already half-way through that. I've just digged a little deeper and modified `config.m4` to use the system's linker to check for `libv8_libplatform` ... which now is able to pick up the `libv8_libplatform.so` file now yielded by the GN build (instead of the .a file formerly created).

For the moment, thanks to all of you pointing out how to compile with GN :-)

[2016-12-05 16:47] #269 closed

[2016-12-05 16:51] stesie commented on #268
This is an issue with V8's (or Google's) Depot tools. Yet my wild guess would be that your python version is too old.

[2016-12-05 16:51] #268 closed

[2016-12-05 16:52] #274 closed

[2016-12-05 17:10] stesie commented on #275
@AlexMasterov at least it seems like the GN binary shipped with V8 (via depot utils) isn't.
You might wan to try to compile GN yourself and use that version instead.

[2016-12-05 17:19] AlexMasterov commented on #275
@stesie I'm already trying [to compile GN from source](https://bugs.chromium.org/p/v8/issues/detail?id=5701#c3). (I'll be glad for any help here)

**Build dependencies**
[code]

**Ninja**
[code]
**GN**
[code]

[2016-12-05 17:22] stesie commented on #275
I don't know alpine well enough (and haven't tried building GN myself), but `bsd-compat-headers` has the file. Maybe it helps ...

[2016-12-05 17:33] AlexMasterov commented on #275
@stesie it helped. Thanks!

[Search the contents of packages](https://pkgs.alpinelinux.org/contents)? :)

[2016-12-05 17:41] stesie commented on #264
@mikemherron I've now changed `config.m4` to pick up `libv8_libplatform.so` file generated by V8 5.6+

Also fixed that v8js doesn't try to "guess" whether blobs are needed or not. It just uses them, if they are installed along with the `libv8.so` file.

[2016-12-05 17:51] AlexMasterov commented on #275
A new challenge for me. (it was easy on Debian)

[code]

[2016-12-05 17:55] stesie commented on #275
I'd think that's a problem with the c++ compiler you're using (or more specifically the preprocessor); maybe it's an old version of gcc?

[2016-12-05 17:58] AlexMasterov commented on #275
@stesie Alpine 3.5 release is coming soon. Tried "edge"..

[gcc 6.2.1-r1](https://pkgs.alpinelinux.org/package/edge/main/x86_64/gcc)
[code]

[2016-12-05 17:59] stesie commented on #275
that shouldn't be too old :-)

[2016-12-05 19:34] mikemherron commented on #264
That's great, will try this out over the next few days, thanks.

[2016-12-05 22:01] stesie commented on #265
Sorry, I forgot about rebuilding the packages. Now it's done.

[2016-12-05 22:01] #265 closed

[2016-12-06 12:25] mikemherron opened #277 "Modifications to an array that is accessed via passed PHP object are not persisted"
This is probably easier to show than explain. See below test script. The final example adds an item to the end of an array returned from a php object passed to v8. The item added however does not appear when iterating through the same array. The return of the push call is 3, as if the item has been added. Appending on to the array DOES work if the array is passed directly from PHP.

[code]

This o

[2016-12-07 12:52] stesie commented on #277
ugh, Github where's my answer gone to!?  Actually I've answered this issue yesterday already, but seems to have been gone :-(

So yes, this is actually expected behaviour, ... so I agree that it might not seem obvious (and probably is unwanted even).

The point is that objects are exposed to JavaScript by an small object simply delegating to the real PHP object. This is if you access one of the pr

[2016-12-07 13:32] #272 closed

[2016-12-07 14:08] mikemherron commented on #277
@stesie Thanks for the detailed answer and explanation. I had a hunch that the problem was going to be somewhere in the mapping process between JavaScript and PHP. Your explanation makes sense, and I can workaround the behaviour. Happy to have the issue closed and thanks again for taking the time to explain is such detail.

[2016-12-08 16:50] stesie commented on #270
I installed a vagrant box with Fedora 25 today, to try this out (based on `vagrant init wholebits/fedora25-32; vagrant up --provider virtualbox`) ... so far I cannot make it work at all :-(

[code]

did you have to do anything special to get v8js to compile? So far I've just installed the v8 + v8-devel packages you mentioned + php-devel and compilers as needed

[2016-12-08 17:05] remicollet commented on #270
Nothing magic (version 1.3.3 with  https://github.com/phpv8/v8js/pull/266 applied)

Spec file : https://github.com/remicollet/remirepo/blob/master/php/pecl/php-pecl-v8js/php-pecl-v8js.spec
(the %build part should be quite easy to read)

[2016-12-09 09:09] remicollet commented on #270
If it can help, here is a scratch build of v1.3.2 in Fedora 25
http://koji.fedoraproject.org/koji/taskinfo?taskID=16804729

See the [i386 build.log](https://kojipkgs.fedoraproject.org//work/tasks/4731/16804731/build.log) and [x86_64 build.log](https://kojipkgs.fedoraproject.org//work/tasks/4730/16804730/build.log)

Notice, this task will be cleaned in a few days.

[2016-12-11 17:21] pinepain commented on #275
I finally make [libv8-5.7](https://launchpad.net/~pinepain/+archive/ubuntu/libv8-5.7) PPA. As of written, it has v8-5.7.202. This and all further versions will be co-installable: I switched installation path from `/usr/lib` to `/opt/libv8-MAJOR.MINOR`. Note, that this is vanilla build with ICU with external data file. `d8` is also available for dev/desting/debugging purposes under `/opt/libv8-MAJO

[2016-12-19 03:02] temuri416 opened #278 "V8JS fails to compile with "recipe for target 'v8js_array_access.lo' failed""
Hi there again,

Tried to compile V8JS again with latest V8 code, getting this:

[code]

Followed updated compilation instructions for gn build. V8 itself compiled successfully.

Any idea how to fix this?

Thanks!

[2016-12-19 03:04] temuri416 commented on #278
Never mind. I was compiling 5.6 version instead of 7.0.

[2016-12-19 03:04] #278 closed

[2016-12-20 06:15] tlovett1 opened #279 "Scaling V8Js"
I'm building a high performance web application using:

**CentOS 7.2.1511
PHP 7.0.13 FPM
V8JS: 1.0.0
V8: 4.9.0**

The application executes Node.js React components via PHP. We've built the application using V8Js and without. We siege tested both applications and came up with the following results:

### With V8Js:

Transactions	1659
Availability (%)	99.58
Elapsed time (secs)	59.36
Data transferred

[2016-12-20 09:42] stesie commented on #279
Hey, thanks for writing, this is an interesting project.

The Docker base image you're using doesn't use snapshots (see the `snapshot=off` part in https://hub.docker.com/r/virusvn/docker-centos-v8js/~/dockerfile/), these cost you at least 50ms in startup time.

... and you also might want to use customized snapshots to pre-load react. Maybe see http://stesie.github.io/2016/02/snapshot-performance

[2016-12-20 15:07] stesie commented on #279
So regarding the `PHP Fatal error:  v8::Isolate::Dispose() Disposing the isolate that is entered by a thread. in Unknown on line 0` error, I can reproduce this under one condition: it reproducably happens if I stop siege ... then it obviously cancels all the http requests ... in turn causing fpm to stop php ... and hence v8js to stop v8 engine (and as the php script spends most time in v8 the erro

[2016-12-20 15:11] virgofx commented on #279
Just a follow up on performance -- One of our production applications uses v8js 1.3.3 with V8 5.4.x using full snapshots of React bundle that is loaded from in-memory cache (Redis) using a custom PHP Wrapper and we are still achieving very high throughput/performance. More info is found on this old thread here:

https://github.com/phpv8/v8js/issues/205

[2016-12-20 16:16] tlovett1 commented on #279
Thanks guys. I'll update the thread when I'm able to test all of this.

[2016-12-20 17:17] tlovett1 commented on #279
Anyone have any insight on this error? Here is my Dockerfile:

[code]

Error message:
`cp: cannot stat '/usr/src/v8/out/native/obj.target/tools/gyp/libv8_libplatform.a': No such file or directory`

[2016-12-20 17:36] virgofx commented on #279
Looks like you may have an old V8 installation. From the updated Linux documentation it has some updated instructions -- maybe try to integrate these :

https://github.com/phpv8/v8js/blob/php7/README.Linux.md

[code]

[2016-12-21 16:36] tlovett1 commented on #279
Ok, got the latest V8Js working. I'm getting this error when I try to take a heap shapshot:

`Warning:  V8Js::createSnapshot(): Failed to create V8 heap snapshot.  Check $embed_source for errors.`

[2016-12-21 18:23] virgofx commented on #279
You're getting closer. At this point .. there is just a few issues with your bundle that your sending into to do a snapshot. There are some known compatibility issues with specific functions in React like Math.random() and a few other things. You need to override those and ensure you're including proper global overrides.

[2016-12-21 20:09] tlovett1 commented on #279
How did I check `$embed_source`?

[2016-12-21 20:32] virgofx commented on #279
$embed_source is your JavaScript that you're attempting to bundle as a snapshot .. this is what you need to debug

[2016-12-22 12:08] stesie commented on #279
@tlovett1 keep in mind, that the source code you pass to `createSnapshot` must not reference any of V8Js' built-ins, i.e. `print`, `var_dump` et al + any stuff you might want to supply via `PHP` (later on). So the idea is to just pass the react stuff ... and then just invoke that code.

Or to put it differently make sure to still execute the actual code from your `js/src/server.js` to `executeStri

[2017-01-03 07:09] gabeljz opened #281 "libv8_libplatform not found - Highlight strongly to use "/tmp" folder to compile V8"
In v8js/README.Linux.md, the command `cd /tmp` entered the "**\tmp**" folder for the rest of the steps to execute.

But for my own housekeeping, I changed it to another folder, "/tmp/google-V8".

At the `./configure --with-v8js=/opt/v8` step, an error is thrown saying that the "**libv8_libplatform**" is not found.

After several hours of googling and trying many solutions for other unrelated probl

[2017-01-03 08:35] AlexMasterov commented on #275
@stesie, @pinepain please, need advice :confused:

Musl does not provide `mallinfo`. How to replace (patch) this?

[malloc_dump_provider.cc](https://chromium.googlesource.com/chromium/src/base/+/master/trace_event/malloc_dump_provider.cc#191)
[code]

[2017-01-03 09:51] pinepain commented on #275
@AlexMasterov does alpine have working tcmalloc? [It seems to be](https://chromium.googlesource.com/chromium/src/base/+/master/trace_event/malloc_dump_provider.cc#156) it can help to avoid `mallinfo` call.

[2017-01-03 10:40] AlexMasterov commented on #275
@pinepain thanks for the reply.

It seems to me that **no**. And building from source is not trivial on Alpine.
A ton of dependencies that also have problems when building.. (because based on glibc)

[2017-01-03 11:52] stesie commented on #281
I don't think that that is the case. Actually I almost never build in /tmp myself.
Do you have some console log around where we could find out from what's gone wrong otherwise?

[2017-01-04 01:37] gabeljz commented on #281
I just tried to reinstalled everything, this time using "**/tmp**", but it can not find the "** libv8_libplatform**" library again.

This is the bash script that I run to compile and install everything as per v8js/README.Linux.md, please rename it to "compile_V8.sh". I run it with `$ sudo bash /path/to/compile_V8.sh`

[compile_V8_sh.txt](https://github.com/phpv8/v8js/files/683711/compile_V8_sh.txt

[2017-01-06 05:33] gabeljz commented on #281
I have kinda narrowed down the cause of the problem to this:

1. Running `ninja -C out.gn/x64.release/` in a bash script. Compilation will complete successfully.
2. Copying the compiled file `sudo cp out.gn/x64.release/lib*.so out.gn/x64.release/*_blob.bin /opt/v8/lib/`
3. Received error message: `cp: cannot stat ‘out.gn/x64.release/lib*.so’: No such file or directory`

[2017-01-07 02:16] AlexMasterov commented on #275
I got some advice from the musl developers.
But it seems they (Google?) try to do `malloc` interposition in a `glibc` specific way. I couldn't just get rid of `mallinfo` usage or dummy it out (eg. always print 0 byte is in use).

Now I'm looking for a way to disable those allocator hacks, and not getting a Segmentation fault.
Also I have open an issue in V8, but it looks like the patch in the near

[2017-01-10 10:49] sourisdudesert opened #282 "V8JS php instable after a "die" or PHP error during a callback"
At first, thanks for your work on phpv8.

I successfully manage to use V8JS with PHP/Apache for my project, but I discover than V8JS engine seems to become instable when a "die" happens.

It seems non reproductible according to #122 , but I reproduce this 100% of the time.

**Symptom :**
V8JS works perfectly fine until the first "die" happens. Starting from this, all uses of V8JS by other followin

[2017-01-10 23:40] AlexMasterov commented on #275
I finally got V8 (5.6+) on Alpine.
I also tested some build arguments that can speed up the compilation, and the V8.
Now I want to create a package for Alpine with `gn`, and probably `v8`.

@stesie, @pinepain
Does it make sense to send a PR with installation instruction? (GN/GYP on Alpine)

[2017-01-15 07:55] qiaoyiyang opened #283 "fetch v8 error"
Running: gclient root
Running: gclient config --spec 'solutions = [
  {
    "url": "https://chromium.googlesource.com/v8/v8.git",
    "managed": False,
    "name": "v8",
    "deps_file": "DEPS",
    "custom_deps": {},
  },
]
'
Running: gclient sync --with_branch_heads
Error: Command 'download_from_google_storage --no_resume --platform=linux* --no_auth --bucket chromium-clang-format -s v8/buildtool

[2017-01-15 11:30] stesie commented on #282
hey, thanks for your detailed report

I agree that phpv8 should be totally stateless (over requests) as you put it. Yet that's not exactly what's going on in your system (and it even cannot do otherwise). Regardless the SAPI you're using (fpm or apache mod_php) one php process handles several (yet with NTP SAPI only subsequent) requests ... and this php process has V8 loaded and initialized (once

[2017-01-15 11:33] stesie commented on #283
Could you please try running the failing command manually. Be careful with the asterisk so that your shell doesn't glob it

[code]

... I suppose it's some SSL error with Python :-)

[2017-01-15 11:38] #277 closed

[2017-01-15 11:40] qiaoyiyang commented on #283
Ah,so..
`
download_from_google_storage: command not found`

[2017-01-15 11:40] stesie commented on #275
Congrats @AlexMasterov, this is very good news

Are you going to publish a docker base image with it? I suppose that's why you're so much into Alpine :)

... and sure, if you'd like to provide some build instructions I'll happily merge them. (Or link to Dockerfile, image, etc.)

[2017-01-15 11:41] stesie commented on #283
it's part of the `depot_tools` that need to be part of the `PATH`

[2017-01-15 11:44] qiaoyiyang commented on #283
I'm sorry to take up your time...
Now shows：

  File "/tmp/depot_tools/download_from_google_storage.py", line 538, in <module>
    sys.exit(main(sys.argv))
  File "/tmp/depot_tools/download_from_google_storage.py", line 534, in main
    options.extract)
  File "/tmp/depot_tools/download_from_google_storage.py", line 358, in download_from_google_storage
    ignore_errors, output, sha1_file, auto_pl

[2017-01-15 11:49] stesie commented on #283
Are you in the correct directory?  I.e. the one that has the `v8` folder underneath?

[2017-01-15 11:57] qiaoyiyang commented on #283
Yes, I am in the README. Linux. Md to install.But the execution to `fetch v8` need more than an hour
I perform in the `/tmp` directory `export PATH = ` pwd ` / depot_tools: "$PATH"`, you can run the instructions just now.

[2017-01-15 11:59] qiaoyiyang commented on #283
PHP 7.0.13-0ubuntu0.16.04.1 (cli) ( NTS )

[2017-01-15 12:06] sourisdudesert commented on #282
Thanks for your answer. Phpv8 is really precious to me as I have to allow my users to write server side scripts on my server, and all alternatives are outdated (ex : PHP runkit) or un-maintained (ex : PHP with Lua).

2 additional questions if you don't mind :

_ Do you think I can consider that I long as I don't use "die" anywhere in PHP phpv8 is safe for use with apache/mod_php ?
_ Do you think t

[2017-01-15 18:00] qiaoyiyang commented on #283
Thank you.
I am successful installation in the following way：

[code]

[2017-01-15 18:51] #283 closed

[2017-01-15 20:03] stesie commented on #282
Well `die` is not the only thing that triggers bailout. Uncaught exceptions or PHP error just do the same.

Do you have just single pages that require V8Js? Or is it more like the whole application? If it's just the former you might want to use fpm for those requests (and configure it to run a very little number of requests per process only). Anyways the only viable way forward is to get this issu

[2017-01-16 10:12] gabeljz commented on #281
@stesie I still can not overcome this issue.

On my local machine, core i7 quad-core, 16GB ram, I can compile by running the commands one-by-one.

Following exactly the same procedure on an Amazon t2.micro, I will encounter back the same error.

Now, I am suspecting that the `ninja -C out.gn/x64.release/` simply failed to compile fully due to limited system resources.

I still do not have a good i

[2017-01-16 10:12] #281 closed

[2017-01-17 23:40] AlexMasterov commented on #275
@stesie
Of course, [alpine-libv8](https://github.com/AlexMasterov/dockerfiles/blob/master/alpine-libv8/Dockerfile).

[How to use it as a factory](https://github.com/AlexMasterov/dockerfiles#alpine-libv8)

[code]
**docker-compose**
[code]
**Extract**
[code]
**Usage**
[code]

[2017-01-17 23:50] AlexMasterov commented on #275
I think it's the easiest way to use V8 on Alpine.
Ideally, `gn` and `v8` should be a Alpine package.

Now, I'm hesitant to write in detail about the installation GN on Alpine, patches, etc.
Who is interested? Much easier to use [ready-made binary](https://www.dropbox.com/s/nd3grxxhw4tscks/alpine-gn.tar.gz) and wait for a Alpine package.

I need advice on detailing.

[2017-01-18 07:31] stesie commented on #275
@AlexMasterov I think that linking to the Dockerfile is enough as it is exactly what you need, a recipe on how to build it. I actually even like to google for Dockerfiles if I'm just willing to install off docker ... The README already has some links to docker, feel free to add yours there

With the Dockerfile you've linked to I personally dislike that it loads some binaries from dropbox and even

[2017-01-18 08:02] AlexMasterov commented on #275
I agree with you.
I can return [the building stage](https://github.com/AlexMasterov/dockerfiles/blob/912ffd01c5a848045b7235fc326275424512e095/alpine-v8-lib/Dockerfile#L26) (this includes [patches](https://github.com/AlexMasterov/dockerfiles/tree/912ffd01c5a848045b7235fc326275424512e095/alpine-v8-lib/patch)), but then Dockerfile will look a bit verbose.

Here just need to install `ca-certificates`.

[2017-01-20 08:07] stesie commented on #282
I think I've found what you're experiencing, but not perfectly sure as you said crashing above. Is it just that V8Js somewhat misbehaves or does it really crash the whole php process (or apache child in that case)? So do you see segfault notices in `dmesg` for example?

The bug I've found was, that V8Js doesn't clear the "fatal error" flag as needed.
So if V8Js exitted due to a die, fatal error, u

[2017-01-20 09:43] sourisdudesert commented on #282
Hello,

This is awesome, thanks a lot.

I've added the extra line on v8js.cc, recompile everything and it worked like a charm (ie the requests with "die" are failing, but the subsequent requests without "die" are not).

More infos :
_ I didn't see any segfault notices in dmesg. Before the fix the apache childs were exiting silently, providing an empty request to the client. This was making the sit

[2017-01-20 09:44] #282 closed

[2017-01-20 17:28] #279 closed

[2017-01-23 03:58] virgofx opened #285 "Possible to exclude default V8JS methods (sleep, exit, print, var_dump, require)"
Is it possible to exclude the default V8JS injected methods in the isolate?

1) Would this improve performance (even, if slightly, by way of reduced JS footprint and php hooks)?
(Flag to remove https://github.com/phpv8/v8js/blob/php7/v8js_class.cc#L420) In high performance app if one can save a few milliseconds on the construction of the V8 instance -- this is huge.

2) Would allow for native hand

[2017-01-23 16:36] stesie commented on #285
Generally it is of course possible, currently there's only a work-around solution: run some JS code that deletes the methods from the global object, ... yet this of course doesn't improve the performance, it just makes them inaccessible to the code.

What would be your preferred way to disable method injection? I personally would go for a `php.ini` setting; I don't think it's helpful to have argum

[2017-01-23 16:46] virgofx commented on #285
Yeah, constructor args definitely can get polluted fast. INI flag works too although is project using that anywhere else? (Flags per method works as well - whatever is easier).

I'm curious if we can run benchmark on that one line to get a before and after. I know it's small but I'm guessing it's 1-2ms.

Deleting via JS globals not preferred approach because I'm trying to improve the construction

[2017-01-23 16:49] stesie commented on #285
Feel free to comment out that line and run some tests with and without it. But I'm pretty sure the difference is negligible (i.e. way <1ms).

Hence I'm yet hesitant to do something like that.

Generally there already are a few INI flags, yet it's not a very clean solution either.

[2017-01-23 17:01] stesie commented on #285
hmm, ok, so you made me curious now ...

that's the script I've been testing with:

[code]

... after all it just creates 1000 V8Js instances (and destructs them immediately) and tells the average creation time.

With unmodified code from master branch every single object creation takes 0.00433 ms on my box (yet this value isn't exactly stable).

Commenting out the aforementioned line, object crea

[2017-01-23 17:07] virgofx commented on #285
small ... well performance not an issue.  Just point 2 relevant it appears from initial post. Thanks for the quick benchmarks!

[2017-01-23 17:09] stesie commented on #285
well, you can just redefine the `require` symbol on JS side (as you would anyhow), so if you don't mind that V8Js' version of `require` is available initially, then you can just override it and go with your own version

[2017-01-23 17:10] virgofx commented on #285
yeah good point. since the performance impact is `us` and not `ms` will handle that case specifically. Thanks @stesie

[2017-01-23 17:10] #285 closed

[2017-01-30 16:41] ranaharoni opened #286 "ModuleLoader isn't passing the original $path"
Hi there,

I just noticed that a the module loader arg for the path does not pass the real path specified in the `require` argument.

[code]

[code]

[code]

Is there any good reason it to omit the `.` and `..` from the $path argument or is it just a bug?

[2017-01-30 18:15] AlexMasterov commented on #286
You need to write your own a loader, _ad hoc_.

[A good example](https://gist.github.com/stesie/c9143b98355295420470).

[2017-01-30 19:35] stesie commented on #286
@ranaharoni this behaviour is caused by the "normalising" step of V8Js' require implementation.  What it tries to do is resolve relative path names (like you're trying to give) to absolute ones, so the module loader callback is provided absolute path names.

Some simple example

[code]

So if you do *not* want that path normalisation by V8Js you need to provide some custom normalisation routine. S

[2017-01-30 19:49] pinepain opened #287 "Building v8 on windows"
Hi @stesie! I found that it's not an easy task to build both v8js and php-v8 on windows, mostly because of lack of up to date v8 distribution. At this time I don't even build for windows as I don't even have windows machine, though, I think it might be interested for some users.

At this time I found [pmed/v8-nuget](https://github.com/pmed/v8-nuget) repo which targets on building v8 for windows pl

[2017-01-30 20:35] stesie commented on #287
cc'ing our man for Windows packaging @Jan-E  :-)

TBH I'm really undecided what to think of both our PHP V8 extensions wrt. Windows. I'm not a Windows user at all and to me it feels like demand for V8Js on Windows is really little. So so far I was really happy that @Jan-E started to care :) ... after some painful use/debugging on Windows (on AWS instances) before myself.

I'd really appreciate if

[2017-01-30 21:11] pinepain commented on #287
I'm also not a Windows user, probably like you, but I stick to macOS. I just remembered that you have some windows support, but I see that there is pretty old v8. Also, having proper libv8 builds for windows will make possible building dlls on pecl, which itself should be quite nice for windows users (if any). But let's hear from Jan-E is a nuget good for our goals or not (I have only a brief idea

[2017-01-31 14:04] sebbio opened #288 "Compile on FreeBSD"
but file libv8_libplatform.a exist in /usr/local/lib

[2017-01-31 14:06] sebbio commented on #288
v8 version 5.1.281.47

[2017-01-31 14:12] stesie commented on #288
please provide the `config.log` file, it should have some more details on what actually went wrong

[2017-01-31 15:35] stesie commented on #288
[code]

there's something wrong with the compilation as it reports undefined references to the standard library

please try saving the test program contents to `conftest.cpp`

[code]

and then try changing the library linking order, especially try placing `-lstdc++` behing the V8 libraries

[2017-01-31 20:04] sebbio commented on #288
same error

[2017-02-04 17:00] duxet commented on #269
I have prepared Docker image with v8js extension from pecl and v8 5.7 built using GN: https://github.com/Strimoid/docker-php - maybe somebody will find this useful.

[2017-02-06 23:55] TysonAndre opened #289 "Misleading/old documentation in http://php.net/v8jsexception and V8Js::__construct"
- V8JsException is not guaranteed to have the method getJsFileName() defined, if it's a V8JsTimeLimitException
- The 2 subtypes of exceptions aren't documented in php.net (V8JsScriptException and V8JsTimeLimitException)

Also, https://secure.php.net/manual/en/v8js.construct.php is misleading, (for `$parameters`), passing names of globals stopped working for me in php 7.0 (I assume you moved away f

[2017-02-07 07:29] stesie commented on #289
Thanks for the bump, I'm aware that the doc on PHP.net is out of sync but have no idea (yet) how to update it.

I will reach out to doc team now :)

[2017-02-09 06:28] #286 closed

[2017-03-03 09:15] flexarts commented on #287
@Jan-E
Thank you for your hard work making the windows world happy in terms of PHP extensions ;-) I work for a company which produced enterprise software and we are required to use the M$ plattform by our clients. We are happy users of your up-to-date extension builds of e.g. curl/apcu/ssh2.

Recently we decided to introduce a sandboxed-script engine into our product by using the V8JS extension. A

[2017-03-04 03:18] Jan-E commented on #287
Ouch. Nasty bug. Try
https://phpdev.toolsforresearch.com/V8-5.8.301.0.7z
If that works, I will have a PR for v8js.

[2017-03-04 09:32] flexarts commented on #287
Hi @Jan-E!
Thanks for your quick response. The build works now (tested with php-7.0.17RC1-nts-Win32-VC14-x64)! Good work 👍

Another thing I recognised was that passing 64-bit integers back-and-forth between PHP and JavaScript does not work (see *test 1*). When converting the 64-bit integers to strings the passing (see *test 2*):

[code]
Even with the V8 Build you attached `$result` has the followi

[2017-03-05 00:16] Jan-E commented on #287
Good to hear it works now. With respect to the ints: it even goes wrong with some 32-bits ints. Everything >= pow(2,31) results in either a negative value or zero. Either V8 itself or the extension still treats Windows or PHP7 on Windows as 32-bits. This is not true anymore for PHP7 on 64-bits Windows:

http://php.net/manual/en/language.types.integer.php

I simplified your testscript a little bit

[2017-03-05 11:46] Jan-E commented on #287
This is how I built V8 5.8.

TL;DR: these are the essential commands for x64.

[code]

Prerequisites:

- VC14 aka VS2015 with the C and C++ compilers. The Community edition suffices.
- The Windows 10 Debugging Tools. If you did not install the Windows 10 SDK together with VC14, you can do a separate download from https://developer.microsoft.com/en-us/windows/hardware/windows-driver-kit => Windows

[2017-03-05 12:07] Jan-E commented on #287
From https://github.com/phpv8/v8js/issues/287#issuecomment-283904436

I spent a couple of hours to solve that. 'v8_use_snapshot=false' was the crux: it disables the inclusion of https://github.com/v8/v8/blob/master/src/snapshot/natives-external.cc

[2017-03-05 14:49] Jan-E opened #292 "64-bits integers in Windows builds"
quote from https://github.com/phpv8/v8js/issues/287#issuecomment-284194906

@flexarts with respect to the ints: it even goes wrong with some 32-bits ints. Everything >= pow(2,31) results in either a negative value or zero. Either V8 itself or the extension still treats Windows or PHP7 on Windows as 32-bits. This is not true anymore for PHP7 on 64-bits Windows:

http://php.net/manual/en/language.ty

[2017-03-05 14:53] Jan-E commented on #292
There is a good chance that it is the extension that works with 32-bits integers only on Windows. Compiling on Windows x64 issues a lot of 'possible loss of data' errors. For instance:

[code]
Line 136 up until 150:

[code]

[2017-03-05 14:55] Jan-E commented on #287
I created a separate issue for the 32/64-bits integers:
https://github.com/phpv8/v8js/issues/292

[2017-03-05 16:51] Jan-E commented on #292
Background info: https://wiki.php.net/rfc/size_t_and_int64_next

[2017-03-05 17:27] pinepain commented on #287
@Jan-E thanks for reply. What do you think about packaging v8 to nuget as state in a [first comment here](https://github.com/phpv8/v8js/issues/287#issue-204111198)?

[2017-03-05 18:45] Jan-E commented on #287
I would not mind if @pmed adds V8 5.8-lkgr to NuGet but I do not have the time for it.

[2017-03-05 19:12] pinepain commented on #287
I feel you. Anyway, closing as I'm not using windows and have no plans to introduce it support in my own ext at this time.

[2017-03-05 19:12] #287 closed

[2017-03-05 19:32] Jan-E commented on #287
BTW: I tested the 64-bits integer script ( https://github.com/phpv8/v8js/issues/292 ) with this x64 NuGet build: https://www.nuget.org/packages/v8-v140-x64/

The output was the same. So the NuGet build has the same issue.

[2017-03-05 20:16] Jan-E commented on #287
Another BTW: I always publish my builds at
https://www.apachelounge.com/viewtopic.php?t=6359

These builds are not yet updated with V8 5.8-lkgr, but the RC's are updated already:
https://www.apachelounge.com/viewtopic.php?t=6617

[2017-03-06 14:48] remicollet opened #294 "Failed build with GCC 7"
Which is default compiler in upcoming Fedora 26

[code]

[2017-03-08 07:41] stesie opened #295 "Fix precission-loss warnings on Windows x64 build"
See #292, #293

The currently left-over problems shouldn't trouble much, as they should just trigger e.g. on using a long (beyond 2^31) as array index or for string lengths beyond 2^31.  Anyways say should of course be fixed

- [x] make sure all compiler warnings on Win64 are eliminated
- [ ] update README so it tells about possible precission loss

[2017-03-08 11:05] Jan-E commented on #287
Fixed by https://github.com/phpv8/v8js/pull/293 in x64-bits builds on https://www.apachelounge.com/viewtopic.php?t=6617
[code]

[code]

[2017-03-08 13:35] flexarts commented on #287
👍  Thx a lot for your efforts @Jan-E  & @stesie. It works in my win x64 setup perfectly.

[2017-03-08 14:15] Jan-E commented on #292
Closing this one, because of https://github.com/phpv8/v8js/issues/287#issuecomment-285012672

[2017-03-08 14:15] #292 closed, assigned to nobody

[2017-03-11 12:24] #295 closed, assigned to nobody

[2017-03-11 12:25] #275 closed

[2017-03-11 12:25] #262 closed

[2017-03-11 20:06] #294 closed, assigned to nobody

[2017-03-11 20:08] stesie commented on #294
Hey @remicollet,

thanks for reporting.  I've fixed the `std::function` thing, wrt. to the `XtOffsetOf` warning I don't yet know what it even means, to be honest :) ... yet it doesn't seem to matter much, the test suite fully passes (here)

Please try with latest `php7` branch, if you use `v8-devel` from distro repo don't forget to pass `--with-libdir=lib64` to `./configure`

[2017-03-11 20:50] stesie commented on #288
Sorry for the longish delay.  I've now installed FreeBSD 11 myself, to try and reproduce this.
I don't find a ready-to-use V8 package, where did you take your V8 library from?

Or did you compile yourself?

[2017-03-11 22:53] stesie commented on #288
Update: I've found a port at https://raw.githubusercontent.com/Kronuz/Xapiand/master/contrib/freebsd/v8.shar

[2017-03-11 22:57] stesie commented on #288
And regarding your problem, I'm pretty sure you've got the following problem (into which I also ran):

* you have two compilers installed: clang and gcc
* your C-compiler (`CC` variable) is `cc`, which is clang
* your C++ compiler (`CXX` variable) is `g++`, which is gcc

... combining the two, i.e. using gcc to compile and then clang to link doesn't work, as the clang linker will pull in a differe

[2017-03-12 05:11] remicollet commented on #294
I confirm v1.3.5 + fb26b5049c8acb0c21fdbf15303e442feabb300f = build ok on Fedora 26

Thanks for the quick fix.

(FYI, on my side I fix the [-Wwrite-strings] warning in http://git.php.net/?p=php-src.git;a=commitdiff;h=ec31924cd68df4f5591664d487baaba0d01b1daf)

[2017-03-12 07:33] stesie commented on #294
Thanks for bringing this upstream.

[2017-03-12 09:17] stesie commented on #270
Hey, finally had some time to re-visit this issue.  I don't have the box anymore, so I started over. This time everything worked fine (and v8js just picked up the needed snapshots -- which caused the trouble mentioned above).

I however cannot reproduce the test fails you mentioned (with current `php7` branch tip), the whole suite just passes (with three expected SKIPs)

Here are the versions I'm

[2017-03-12 14:38] remicollet commented on #270
Indeed, everything is now OK.

[code]

[2017-03-12 15:35] stesie commented on #270
ok, good to know.  I'm closing it then.

Feel free to re-open (or create another issue) if you have more info

[2017-03-12 15:35] #270 closed

[2017-03-12 20:49] jakubkulhan opened #301 "Cannot compile against latest V8 (5.9.35)"
`./configure` fails with:

[code]

Since 5.9.19 `v8::platform::CreateDefaultPlatform` has 2 parameters: https://github.com/v8/v8/blob/5.9.19/include/libplatform/libplatform.h

Check for `libv8_libplatform` uses old signature https://github.com/phpv8/v8js/blob/php7/config.m4#L90-L111

[2017-03-12 21:29] stesie commented on #301
Yet the function has default arguments, so that shouldn't be the problem.
Please post your `config.log` file as it should have more details on what actually went wrong

[2017-03-12 21:31] stesie commented on #301
Nah, scratch that. Shouldn't just look and answer from my phone. I'll have a closer look tomorrow

[2017-03-13 11:57] jakubkulhan commented on #301
As far as I know, default parameters only mean that the when function is being called with less arguments, compiler looks up its declaration and tries to fill in missing arguments.

Because check in `config.m4` does not include `libplatform.h`, but declares `CreateDefaultPlatform` itself with only single parameter, both names are mangled differently. Therefore linking fails.

[2017-03-13 12:05] stesie commented on #301
@jakubkulhan yes, c++ symbol mangling is exactly what I forgot about when answering from my mobile ;-)

Yet currently I'm at work, will have a look tonight or so ...

[2017-03-13 21:43] stesie opened #302 "Test failures on V8 5.9.35"
This test fails, since V8 now returns a different column number

[code]

[2017-03-13 21:46] #301 closed, assigned to nobody

[2017-03-14 07:40] #302 closed, assigned to nobody

[2017-03-14 12:12] jakubkulhan commented on #301
Thank you! :)

[2017-03-15 06:22] #288 closed

[2017-03-15 09:57] alcaeus opened #304 "Compiler error while installing from pecl"
Ubuntu 16.04, PHP 7.1.3 is installed through ppa:ondrej/php. Below is the output of `pecl install v8js`, the error is the following:
[code]

This does not happen with 7.1.2, only with 7.1.3. For reference, the same error appears when trying to install 1.3.3 and 1.3.4.

Full output of `pecl install v8js`:
[code]

[2017-03-16 20:03] stesie commented on #304
Thanks for reporting, ... this was pretty quick comparing release date of PHP 7.1.3 :-)

[2017-03-16 20:14] #304 closed, assigned to nobody

[2017-03-16 20:23] stesie commented on #304
Just released version 1.3.6 that ships this patch

[2017-03-16 20:46] alcaeus commented on #304
Thanks you so much!

[2017-04-08 22:37] temuri416 opened #306 "V8 crashing on toLocaleString()"
The following expression crashes V8JS:

[code]

Results in:

[code]

The problem is `toLocaleString()` call.

I realize it's not the fault of V8JS... But maybe @stesie has an idea of what's happening? It was fine with 5.5.x versions of V8.

Thanks!

[2017-04-09 00:01] temuri416 commented on #306
just as I suspected - `v8_enable_i18n_support = false` should also be supplied during configuration...

~~now everything works fine.~~

**EDIT**. Nope, `.toLocaleString()` no longer crashes V8, but does not return month name :(

[2017-04-09 16:19] temuri416 commented on #269
@duxet

Can you possibly try check the behaviour I described here: #306 inside your docker?

[2017-04-09 21:55] temuri416 commented on #306
Decided to reopen... V8 itself handles toLocaleString() correctly:

Running:

`/tmp/v8/out.gn/x64.release/d8`

![image](https://cloud.githubusercontent.com/assets/3987203/24841211/748e6900-1d4c-11e7-8709-595af56e5af7.png)

After compiling V8JS running the following:

[code]

results in:

[code]

V8 compiles `icudtl.dat` and places it alongside `libv8.so`. Before compiling V8JS I copied `icudtl.dat

[2017-04-10 16:25] duxet commented on #306
@temuri416 Same issue with the newest build of my Docker image:

[code]

[2017-04-14 21:44] stesie commented on #306
I've got this to work on MacOS and Linux so far, see #307.

Yet I wonder how to fix it on Windows. @Jan-E could you please check whether the build of V8 on Windows also yields a `icudtl.dat` file? Your ZIP archives seem to not ship it, but I'd suppose it to be there

[2017-04-14 22:00] Jan-E commented on #306
There was an icudtl.dll in the V8 versions 4.9, 5.1 and 5.4 and probably the versions in between as well. But it was not there anymore in 5.5.372.19 and more recent.

https://travis-ci.org/phpv8/v8js/builds/222213690 tells me you are using old versions of V8. You may have a task ahead; make it work in V8 5.5+ on Linux and MacOS

[2017-04-14 22:09] stesie commented on #306
@Jan-E well yes, on Travis (Linux) I'm still using pretty old versions of V8. #307 actually fixes the bug there, yet Travis doesn't show it (but locally). For V8 5.3+ you need to point V8 to a `icudtl.dat` file (`dat` for data, not the dll file)

I'm asking regarding the windows build (https://ci.appveyor.com/project/stesie/v8js/build/1.0.180/job/pnyny5416tqnc9ko in particular), ... there I'm usin

[2017-04-14 22:29] Jan-E commented on #306
Aha, confused the dat and the dll. Did you try adding the Linux or macOS dat file to my zip? The dat file might be OS-independent...

Anyway, I did not save the build tree, so I am recompiling 5.8-lkgr at the moment. V8 5.8.283.31 that is.